Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

.zuul.yaml:

- job:
    name: nova-dsvm-multinode-base
    parent: legacy-dsvm-base-multinode
    description: |
      Base job for multinode nova devstack/tempest jobs.
      Will setup firewall rules on all the nodes allowing them to talk to
      each other.
    timeout: 10800
    required-projects:
      - openstack-infra/devstack-gate
      - openstack/nova
      - openstack/tempest
    irrelevant-files:
      - ^(placement-)?api-.*$
      - ^(test-|)requirements.txt$
      - ^.*\.rst$
      - ^.git.*$
      - ^doc/.*$
      - ^nova/hacking/.*$
      - ^nova/locale/.*$
      - ^nova/tests/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
      - ^tests-py3.txt$
      - ^tools/.*$
      - ^tox.ini$
    nodeset: legacy-ubuntu-xenial-2-node

- job:
    name: nova-tox-functional
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project with Nova
      specific irrelevant-files list. Uses tox with the ``functional``
      environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional
    timeout: 3600

- job:
    name: nova-tox-functional-py35
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project
      under cPython version 3.5. with Nova specific irrelevant-files list.
      Uses tox with the ``functional-py35`` environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional-py35
    timeout: 3600

- job:
    name: nova-live-migration
    parent: nova-dsvm-multinode-base
    run: playbooks/legacy/nova-live-migration/run.yaml
    post-run: playbooks/legacy/nova-live-migration/post.yaml

- project:
    name: openstack/nova
    check:
      jobs:
        - nova-live-migration
        - nova-tox-functional
        - nova-tox-functional-py35
    gate:
      jobs:
        - nova-live-migration
        - nova-tox-functional
        - nova-tox-functional-py35

Fix execute mock for test_convert_image_with_errors
  nova/tests/unit/virt/test_images.py
Due: nova-tox-functional, nova-tox-functional-py35

Add notification support for trusted_certs
  doc/notification_samples/common_payloads/InstanceActionRebuildPayload.json
  doc/notification_samples/common_payloads/InstanceCreatePayload.json
  doc/notification_samples/instance-rebuild-end.json
  doc/notification_samples/instance-rebuild-error.json
  doc/notification_samples/instance-rebuild-start.json
  nova/compute/manager.py
  nova/compute/utils.py
  nova/notifications/objects/instance.py
  nova/tests/functional/notification_sample_tests/test_instance.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/notifications/objects/test_notification.py
  releasenotes/notes/trusted-certs-microversion-589b75f0180d4d51.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

[placement] Add status and links fields to version document at /
  nova/api/openstack/placement/handlers/root.py
  nova/tests/functional/api/openstack/placement/gabbits/microversion.yaml
  placement-api-ref/source/parameters.yaml
  placement-api-ref/source/root.inc
  placement-api-ref/source/samples/root/get-root.json
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Change consecutive build failure limit to a weigher
  doc/source/admin/configuration/schedulers.rst
  nova/compute/manager.py
  nova/compute/resource_tracker.py
  nova/compute/stats.py
  nova/conf/compute.py
  nova/conf/scheduler.py
  nova/scheduler/host_manager.py
  nova/scheduler/ironic_host_manager.py
  nova/scheduler/weights/compute.py
  nova/test.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/compute/test_resource_tracker.py
  nova/tests/unit/compute/test_stats.py
  nova/tests/unit/scheduler/test_caching_scheduler.py
  nova/tests/unit/scheduler/weights/test_weights_compute.py
  releasenotes/notes/change-consecutive-boot-failure-counter-to-weigher-428de7da0ed2033a.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Make check_can_live_migrate_destination use long_rpc_timeout
  nova/compute/rpcapi.py
  nova/tests/unit/compute/test_rpcapi.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Add troubleshooting item about ignored microversions
  doc/source/admin/support-compute.rst
Due: none

Add certificate validation docs
  doc/source/index.rst
  doc/source/user/certificate-validation.rst
  doc/source/user/index.rst
Due: none

Add supplementary info for simple_cell_setup cmd
  doc/source/cli/nova-manage.rst
Due: none

ironic: stop lying to the RT when ironic is down
  nova/compute/manager.py
  nova/exception.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/virt/ironic/test_driver.py
  nova/virt/ironic/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Optional separate database for placement API
  nova/api/openstack/placement/objects/consumer.py
  nova/api/openstack/placement/objects/project.py
  nova/api/openstack/placement/objects/resource_provider.py
  nova/api/openstack/placement/objects/user.py
  nova/cmd/manage.py
  nova/cmd/status.py
  nova/conf/database.py
  nova/db/sqlalchemy/api.py
  nova/db/sqlalchemy/migration.py
  nova/db/sqlalchemy/resource_class_cache.py
  nova/test.py
  nova/tests/fixtures.py
  nova/tests/functional/api/openstack/placement/db/test_allocation_candidates.py
  nova/tests/functional/api/openstack/placement/db/test_base.py
  nova/tests/functional/api/openstack/placement/db/test_consumer.py
  nova/tests/functional/api/openstack/placement/db/test_resource_class_cache.py
  nova/tests/functional/api/openstack/placement/db/test_resource_provider.py
  nova/tests/functional/api/openstack/placement/fixtures/gabbits.py
  nova/tests/functional/api/openstack/placement/test_direct.py
  nova/tests/functional/api_sample_tests/api_sample_base.py
  nova/tests/unit/cmd/test_status.py
  releasenotes/notes/placement-database-2e087f379273535d.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Add PLACEMENT_DB_ENABLED=True to the nova-next job
  playbooks/legacy/nova-next/run.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Remove max_size parameter from fake_libvirt_utils.fetch_*image methods
  nova/tests/unit/virt/libvirt/fake_libvirt_utils.py
Due: nova-tox-functional, nova-tox-functional-py35

Fix nits from trusted certs notification change
  nova/notifications/objects/instance.py
  releasenotes/notes/trusted-certs-microversion-589b75f0180d4d51.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Add trusted certs to feature support matrix docs
  doc/source/user/certificate-validation.rst
  doc/source/user/support-matrix.ini
Due: none

Update the disk_cachemodes to mention an rbd detail
  nova/conf/libvirt.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Enforce placement minimum in nova.cmd.status
  nova/cmd/status.py
  nova/tests/functional/test_report_client.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Add policy rule to block image-backed servers with 0 root disk flavor
  api-ref/source/parameters.yaml
  doc/source/user/flavors.rst
  nova/api/openstack/compute/servers.py
  nova/compute/api.py
  nova/exception.py
  nova/policies/servers.py
  nova/tests/functional/wsgi/test_servers.py
  nova/tests/unit/test_policy.py
  releasenotes/notes/bug-1739646-enforce_volume_backed_for_zero_disk_flavor-b36a6eb4fa8b2964.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

unquiesce instance after quiesce failure
  nova/compute/api.py
  nova/tests/unit/compute/test_compute_api.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Fix retrying lower bound in requirements.txt
  requirements.txt
Due: nova-tox-functional, nova-tox-functional-py35

Add osprofiler config options to generated reference
  doc/requirements.txt
  etc/nova/nova-config-generator.conf
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Return all nested providers in tree
  nova/api/openstack/placement/objects/resource_provider.py
  nova/tests/functional/api/openstack/placement/db/test_allocation_candidates.py
  nova/tests/functional/api/openstack/placement/db/test_resource_provider.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Make host_aggregate_map dictionary case-insensitive
  nova/scheduler/host_manager.py
  nova/tests/unit/scheduler/test_host_manager.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

placement: Make API history doc more consistent
  nova/api/openstack/placement/rest_api_version_history.rst
Due: none

Revert "Re-using the code of os brick cinder"
  nova/privsep/fs.py
  nova/tests/unit/virt/libvirt/storage/test_lvm.py
  nova/virt/libvirt/storage/lvm.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

ironic: bugfix: ensure a host is set for volume connectors
  nova/tests/unit/virt/ironic/test_driver.py
  nova/virt/ironic/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Simplify instance name generation
  api-ref/source/parameters.yaml
  nova/compute/api.py
  nova/tests/unit/cells/test_cells_scheduler.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Skip ServerShowV263Test.test_show_update_rebuild_list_server for cellsv1
  devstack/tempest-dsvm-cells-rc
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Add policy rule to block image-backed servers with 0 root disk flavor
  api-ref/source/parameters.yaml
  doc/source/admin/flavors2.rst
  nova/api/openstack/compute/servers.py
  nova/compute/api.py
  nova/exception.py
  nova/policies/servers.py
  nova/tests/functional/wsgi/test_servers.py
  nova/tests/unit/test_policy.py
  releasenotes/notes/bug-1739646-enforce_volume_backed_for_zero_disk_flavor-b36a6eb4fa8b2964.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Add policy rule to block image-backed servers with 0 root disk flavor
  api-ref/source/parameters.yaml
  nova/api/openstack/compute/servers.py
  nova/compute/api.py
  nova/exception.py
  nova/policies/servers.py
  nova/tests/functional/wsgi/test_servers.py
  nova/tests/unit/test_policy.py
  releasenotes/notes/bug-1739646-enforce_volume_backed_for_zero_disk_flavor-b36a6eb4fa8b2964.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Nix unused raise_if_custom_resource_class_pre_v1_1
  nova/db/sqlalchemy/resource_class_cache.py
  nova/rc_fields.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Fix MigrateData object tests for compat routines
  nova/tests/unit/objects/test_migrate_data.py
Due: nova-tox-functional, nova-tox-functional-py35

Clarify placement DB schema migration
  releasenotes/notes/placement-database-2e087f379273535d.yaml
Due: none

Fixed auto-convergence option name in doc
  doc/source/admin/configuring-migrations.rst
  doc/source/admin/live-migration-usage.rst
Due: none

Resource tracker: improve resource tracker periodic task
  nova/compute/resource_tracker.py
  nova/tests/unit/compute/test_resource_tracker.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Optimize member_of check for nested providers
  nova/api/openstack/placement/objects/resource_provider.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Add full traceback to ExceptionPayload in versioned notifications
  doc/notification_samples/compute-exception.json
  doc/notification_samples/instance-create-error.json
  doc/notification_samples/instance-interface_attach-error.json
  doc/notification_samples/instance-reboot-error.json
  doc/notification_samples/instance-rebuild-error.json
  doc/notification_samples/instance-resize-error.json
  doc/notification_samples/instance-volume_attach-error.json
  doc/notification_samples/instance-volume_swap-error.json
  nova/compute/manager.py
  nova/compute/utils.py
  nova/exception_wrapper.py
  nova/notifications/objects/exception.py
  nova/tests/functional/notification_sample_tests/test_exception_notification.py
  nova/tests/functional/notification_sample_tests/test_instance.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/compute/test_compute_utils.py
  nova/tests/unit/notifications/objects/test_notification.py
  nova/tests/unit/test_exception.py
  releasenotes/notes/add-full-traceback-to-exceptionpayload-06cf8d55d2918eab.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Ensure that os-traits sync is attempted only at start of process
  nova/api/openstack/placement/db_api.py
  nova/api/openstack/placement/deploy.py
  nova/api/openstack/placement/objects/resource_provider.py
  nova/test.py
  nova/tests/functional/api/openstack/placement/db/test_base.py
  nova/tests/functional/api/openstack/placement/db/test_resource_provider.py
  nova/tests/functional/api/openstack/placement/fixtures/gabbits.py
  nova/tests/functional/integrated_helpers.py
  nova/tests/unit/api/openstack/placement/objects/test_resource_provider.py
  nova/tests/unit/test_fixtures.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Isolate placement database config
  nova/api/openstack/placement/db_api.py
  nova/api/openstack/placement/objects/consumer.py
  nova/api/openstack/placement/objects/project.py
  nova/api/openstack/placement/objects/resource_provider.py
  nova/api/openstack/placement/objects/user.py
  nova/api/openstack/placement/wsgi.py
  nova/cmd/manage.py
  nova/cmd/status.py
  nova/db/sqlalchemy/api.py
  nova/db/sqlalchemy/migration.py
  nova/db/sqlalchemy/resource_class_cache.py
  nova/tests/fixtures.py
  nova/tests/functional/api/openstack/placement/db/test_consumer.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

[Stable Only] Add amd-ssbd and amd-no-ssb CPU flags
  nova/conf/libvirt.py
  releasenotes/notes/libvirt-cpu-model-extra-flags-amd-ssbd-1c0d0cec14073dec.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration
