Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

nova-dsvm-multinode-base:
  parent: legacy-dsvm-base-multinode
  description: 'Base job for multinode nova devstack/tempest jobs.
  
    Will setup firewall rules on all the nodes allowing them to talk to
  
    each other.
  
    '
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/nova
  - openstack/tempest
  ...

nova-tox-functional:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project with Nova
  
    specific irrelevant-files list. Uses tox with the ``functional``
  
    environment.
  
    '
  vars:
    tox_envlist: functional
  timeout: 3600

nova-tox-functional-py35:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project
  
    under cPython version 3.5. with Nova specific irrelevant-files list.
  
    Uses tox with the ``functional-py35`` environment.
  
    '
  vars:
    tox_envlist: functional-py35
  timeout: 3600

nova-live-migration:
  parent: nova-dsvm-multinode-base
  run: playbooks/legacy/nova-live-migration/run.yaml
  post-run: playbooks/legacy/nova-live-migration/post.yaml

Remove unused DB API instance_group_delete method
  nova/db/api.py
  nova/db/sqlalchemy/api.py
  nova/tests/unit/db/test_db_api.py
  nova/tests/unit/db/test_sqlalchemy_migration.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Remove unused DB API instance_group_member* methods
  nova/db/api.py
  nova/db/sqlalchemy/api.py
  nova/tests/unit/db/test_db_api.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Remove remaining legacy DB API instance_group* methods
  nova/db/api.py
  nova/db/sqlalchemy/api.py
  nova/tests/functional/db/test_instance_group_model.py
  nova/tests/unit/db/test_db_api.py
  nova/tests/unit/db/test_sqlalchemy_migration.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Allow templated cell_mapping URLs
  doc/source/user/cells.rst
  nova/objects/cell_mapping.py
  nova/tests/unit/objects/test_cell_mapping.py
  releasenotes/notes/cell-mapping-formatted-urls-4f5ee779a70960b8.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Make nova-lvm run in check on libvirt changes and compute API tests
  .zuul.yaml
  devstack/tempest-dsvm-lvm-rc
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Remove mox in unit/network/test_neutronv2.py (1)
  nova/tests/unit/network/test_neutronv2.py
Due: nova-tox-functional, nova-tox-functional-py35

Handle network-changed event for a specific port
  nova/compute/manager.py
  nova/network/neutronv2/api.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/network/test_neutronv2.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Mention server status in api-ref when rebuild
  api-ref/source/servers-actions.inc
Due: none

Fix unit test modifying global state
  nova/tests/unit/conductor/test_conductor.py
Due: nova-tox-functional, nova-tox-functional-py35

libvirt: Add missing encryption_secret_uuid tests for pre_live_migration
  nova/tests/unit/virt/libvirt/test_driver.py
Due: nova-tox-functional, nova-tox-functional-py35

Use nova.test.TestingException
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/compute/test_virtapi.py
  nova/tests/unit/test_service.py
  nova/tests/unit/virt/ironic/test_driver.py
Due: nova-tox-functional, nova-tox-functional-py35

Remove mox in sec group test and functional tests
  nova/tests/functional/api_sample_tests/api_sample_base.py
  nova/tests/unit/api/openstack/compute/test_security_groups.py
  nova/tests/unit/fake_network.py
Due: nova-tox-functional, nova-tox-functional-py35

Add regression test for bug #1764883
  nova/tests/functional/regressions/test_bug_1764883.py
Due: nova-tox-functional, nova-tox-functional-py35

Handle CannotDeleteParentResourceProvider to 409 Conflict
  nova/api/openstack/placement/handlers/resource_provider.py
  nova/tests/functional/api/openstack/placement/gabbits/resource-provider.yaml
  placement-api-ref/source/resource_provider.inc
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

trivial: Remove 'tools/releasenotes_tox.sh'
  tools/releasenotes_tox.sh
  tox.ini
Due: nova-tox-functional, nova-tox-functional-py35

Merge server create for user data extension
  nova/api/openstack/compute/servers.py
  nova/api/openstack/compute/user_data.py
  nova/tests/unit/api/openstack/compute/test_serversV21.py
  nova/tests/unit/api/openstack/compute/test_user_data.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Merge server create for security group extension
  nova/api/openstack/compute/security_groups.py
  nova/api/openstack/compute/servers.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

tox: Document and dedupe mostly everything
  tox.ini
Due: nova-tox-functional, nova-tox-functional-py35

conf: Correct documentation for '[pci] passthrough_whitelist'
  nova/conf/pci.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Update xenapi_disable_agent config option usage in docs
  doc/source/user/config-drive.rst
Due: none

tox: Reuse envdirs
  tox.ini
Due: nova-tox-functional, nova-tox-functional-py35

Mention PowerVM support of config drive
  doc/source/user/config-drive.rst
Due: none

Use ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa in tree
  .zuul.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Remove file injection from config drive sample docs
  doc/source/user/config-drive.rst
Due: none

More config drive docs updates
  doc/source/user/config-drive.rst
Due: none

libvirt: Fix the rescue race for vGPU instances
  doc/source/admin/virtual-gpu.rst
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Add microversion for nested allocation candidate
  nova/api/openstack/placement/handlers/allocation_candidate.py
  nova/api/openstack/placement/microversion.py
  nova/api/openstack/placement/rest_api_version_history.rst
  nova/tests/functional/api/openstack/placement/db/test_base.py
  nova/tests/functional/api/openstack/placement/fixtures/gabbits.py
  nova/tests/functional/api/openstack/placement/gabbits/allocation-candidates.yaml
  nova/tests/functional/api/openstack/placement/gabbits/microversion.yaml
  releasenotes/notes/nested-resource-providers-allocation-candidates-66c1c5b0a3e93513.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Fix nits in placement-return-all-resources series
  nova/api/openstack/placement/handlers/allocation_candidate.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Define common variables for irrelevant-files
  .zuul.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

manage: Remove dead code
  nova/cmd/manage.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Make nova service-list use scatter-gather routine
  nova/compute/api.py
  nova/tests/unit/compute/test_host_api.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Fix placement incompatible with webob 1.7
  lower-constraints.txt
  requirements.txt
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

[placement] fix allocation handler docstring typo
  nova/api/openstack/placement/handlers/allocation.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Use 'version2' when syncing placement db
  nova/cmd/manage.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

[doc] enhance admin/configuration/api.rst
  doc/source/admin/configuration/api.rst
Due: none

Fix missing versioned notification examples
  doc/ext/versioned_notifications.py
Due: nova-tox-functional, nova-tox-functional-py35

Update admin/flavors document
  doc/source/admin/flavors.rst
Due: none

Regression test for bug 1779818
  nova/tests/functional/api/openstack/placement/gabbits/resource-provider-bug-1779818.yaml
Due: nova-tox-functional, nova-tox-functional-py35

Path conditions:
  nova-dsvm-multinode-base: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-tox-functional: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-tox-functional-py35: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-live-migration: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
