Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

nova-dsvm-multinode-base:
  parent: legacy-dsvm-base-multinode
  description: 'Base job for multinode nova devstack/tempest jobs.
  
    Will setup firewall rules on all the nodes allowing them to talk to
  
    each other.
  
    '
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/nova
  - openstack/tempest
  ...

nova-tox-functional:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project with Nova
  
    specific irrelevant-files list. Uses tox with the ``functional``
  
    environment.
  
    '
  vars:
    tox_envlist: functional
  timeout: 3600

nova-tox-functional-py35:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project
  
    under cPython version 3.5. with Nova specific irrelevant-files list.
  
    Uses tox with the ``functional-py35`` environment.
  
    '
  vars:
    tox_envlist: functional-py35
  timeout: 3600

nova-live-migration:
  parent: nova-dsvm-multinode-base
  run: playbooks/legacy/nova-live-migration/run.yaml
  post-run: playbooks/legacy/nova-live-migration/post.yaml

[placement] Debug log per granular request group
  nova/api/openstack/placement/objects/resource_provider.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

[placement] Move resource_class_cache into placement hierarchy
  nova/api/openstack/placement/objects/resource_provider.py
  nova/api/openstack/placement/resource_class_cache.py
  nova/tests/functional/api/openstack/placement/db/test_resource_class_cache.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Deprecate upgrade_levels options for deprecated/removed services
  nova/conf/upgrade_levels.py
  releasenotes/notes/rocky-deprecate-some-upgrade-levels-options-bbe19bb2256e25ad.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Reno for notification-transformation-rocky
  releasenotes/notes/notification-transformation-rocky-e541ba916e8e38fd.yaml
Due: none

Remove unused flavor_delete_info() method
  nova/compute/flavors.py
  nova/tests/unit/test_flavors.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

[placement] ensure_rc_cache only at start of process
  nova/api/openstack/placement/deploy.py
  nova/api/openstack/placement/objects/resource_provider.py
  nova/tests/unit/api/openstack/placement/objects/test_resource_provider.py
  nova/tests/unit/cmd/test_status.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Optimize AZ lookup during schedule_and_build_instances
  nova/conductor/manager.py
  nova/tests/unit/conductor/test_conductor.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Use CONF.long_rpc_timeout in post_live_migration_at_destination
  nova/compute/rpcapi.py
  nova/tests/unit/compute/test_rpcapi.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Update RequestSpec.flavor on resize_revert
  nova/compute/api.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/compute/test_compute_api.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Adds a test for getting allocations API
  nova/tests/functional/api/openstack/placement/fixtures/gabbits.py
  nova/tests/functional/api/openstack/placement/gabbits/with-allocations.yaml
Due: nova-tox-functional, nova-tox-functional-py35

Not use project table for user table
  nova/api/openstack/placement/objects/resource_provider.py
  nova/tests/functional/api/openstack/placement/gabbits/with-allocations.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Add tempest-slow job to run the tempest slow tests
  .zuul.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Define irrelevant-files for tempest-full-py3 job
  .zuul.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Update resources once in update_available_resource
  nova/compute/resource_tracker.py
  nova/tests/unit/compute/test_resource_tracker.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Reload oslo_context after calling monkey_patch()
  nova/cmd/__init__.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

[stable only] Add functional regression test for bug 1783613
  nova/tests/functional/regressions/test_bug_1783613.py
Due: nova-tox-functional, nova-tox-functional-py35

Fix none-ascii char in doc
  api-guide/source/faults.rst
  api-guide/source/links_and_references.rst
  api-guide/source/paginated_collections.rst
  api-guide/source/versions.rst
  doc/source/admin/configuration/hypervisor-hyper-v.rst
  doc/source/admin/support-compute.rst
  doc/source/reference/threading.rst
  doc/source/user/config-drive.rst
  doc/source/user/launch-instance-from-volume.rst
Due: none

Use common functions in granular fixture
  nova/tests/functional/api/openstack/placement/fixtures/gabbits.py
Due: nova-tox-functional, nova-tox-functional-py35

[placement] Add version directives in the history doc
  nova/api/openstack/placement/rest_api_version_history.rst
Due: none

api-ref: fix min_version for parent_provider_uuid in responses
  placement-api-ref/source/parameters.yaml
  placement-api-ref/source/resource_provider.inc
  placement-api-ref/source/resource_providers.inc
Due: none

Fix message for unexpected external event
  nova/compute/manager.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Fix resize revert to use non-legacy alloc handling
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Make ResourceTracker.stats node-specific
  nova/compute/manager.py
  nova/compute/resource_tracker.py
  nova/tests/functional/compute/test_resource_tracker.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Make ResourceTracker.stats node-specific
  nova/compute/resource_tracker.py
  nova/tests/functional/compute/test_resource_tracker.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

doc: mark the max microversion for rocky
  nova/api/openstack/compute/rest_api_version_history.rst
Due: none

Update really old comments about vmware hosts managing multiple nodes
  nova/objects/compute_node.py
  nova/objects/service.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Add microversion info in the os-server-groups API samples
  api-ref/source/os-server-groups.inc
Due: none

api-ref: Add descriptions for rebuild
  api-ref/source/parameters.yaml
  api-ref/source/servers-actions.inc
Due: none

Fix bad links for admin-guide
  doc/source/user/feature-matrix-gp.ini
Due: none

xx_instance_type_id in list_migrations should be integer
  api-ref/source/parameters.yaml
Due: none

Add explicit functional-py36 tox target
  tox.ini
Due: nova-tox-functional, nova-tox-functional-py35

Refactor cell_type in compute/api.py
  nova/compute/api.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

libvirt: Reduce calls to qemu-img during update_available_resource
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/disk/api.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Fix host validity check for live-migration
  nova/compute/api.py
  nova/tests/unit/compute/test_compute_api.py
  nova/tests/unit/compute/test_compute_cells.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

[placement] Avoid rp.get_by_uuid in allocation_candidates
  nova/api/openstack/placement/objects/resource_provider.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Remove Neutron MetaAPIProxy from cellsv2-layout
  doc/source/user/cellsv2-layout.rst
Due: none

get provider IDs once when building summaries
  nova/api/openstack/placement/objects/resource_provider.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Add the guideline to write API reference
  doc/source/contributor/api-ref-guideline.rst
  doc/source/contributor/index.rst
  doc/source/index.rst
Due: none

Update compute rpc version alias for rocky
  nova/compute/rpcapi.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Path conditions:
  nova-dsvm-multinode-base: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-tox-functional: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-tox-functional-py35: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-live-migration: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
