Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

.zuul.yaml:

- job:
    name: nova-dsvm-multinode-base
    parent: legacy-dsvm-base-multinode
    description: |
      Base job for multinode nova devstack/tempest jobs.
      Will setup firewall rules on all the nodes allowing them to talk to
      each other.
    timeout: 10800
    required-projects:
      - openstack-infra/devstack-gate
      - openstack/nova
      - openstack/tempest
    irrelevant-files:
      - ^(placement-)?api-.*$
      - ^(test-|)requirements.txt$
      - ^.*\.rst$
      - ^.git.*$
      - ^doc/.*$
      - ^nova/hacking/.*$
      - ^nova/locale/.*$
      - ^nova/tests/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
      - ^tests-py3.txt$
      - ^tools/.*$
      - ^tox.ini$
    nodeset: legacy-ubuntu-xenial-2-node

- job:
    name: nova-tox-functional
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project with Nova
      specific irrelevant-files list. Uses tox with the ``functional``
      environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional
    timeout: 3600

- job:
    name: nova-tox-functional-py35
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project
      under cPython version 3.5. with Nova specific irrelevant-files list.
      Uses tox with the ``functional-py35`` environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional-py35
    timeout: 3600

- job:
    name: nova-live-migration
    parent: nova-dsvm-multinode-base
    run: playbooks/legacy/nova-live-migration/run.yaml
    post-run: playbooks/legacy/nova-live-migration/post.yaml

- project:
    name: openstack/nova
    check:
      jobs:
        - nova-live-migration
        - nova-tox-functional
        - nova-tox-functional-py35
    gate:
      jobs:
        - nova-live-migration
        - nova-tox-functional
        - nova-tox-functional-py35

Docs: Add guide to migrate instance with snapshot
  doc/source/admin/index.rst
  doc/source/admin/migrate-instance-with-snapshot.rst
Due: none

[stable only] Handle quota usage during create/delete races
  nova/compute/api.py
  nova/tests/functional/regressions/test_bug_1783613.py
  nova/tests/unit/compute/test_compute_api.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Update nova network info when doing rebuild for evacuate operation
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Fix instance evacuation with PCI devices
  nova/compute/manager.py
  nova/network/api.py
  nova/network/base_api.py
  nova/network/neutronv2/api.py
  nova/tests/unit/compute/test_compute.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Fix bad links for admin-guide
  doc/source/user/feature-matrix-gp.ini
Due: none

Update ssh configuration doc
  doc/source/admin/ssh-configuration.rst
Due: none

Update the parameter explain when updating a volume attachment
  api-ref/source/os-volume-attachments.inc
  api-ref/source/parameters.yaml
Due: none

[placement] api-ref: add description for 1.29
  placement-api-ref/source/allocation_candidates.inc
  placement-api-ref/source/parameters.yaml
  placement-api-ref/source/samples/allocation_candidates/get-allocation_candidates-1.29.json
Due: none

Trivial fix on migration doc
  doc/source/admin/migration.rst
Due: none

Fix host validity check for live-migration
  nova/compute/api.py
  nova/tests/unit/compute/test_compute_api.py
  nova/tests/unit/compute/test_compute_cells.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

libvirt: Use os.stat and os.path.getsize for RAW disk inspection
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Nix 'new in 1.19' from 1.19 sections for rp aggs
  placement-api-ref/source/aggregates.inc
Due: none

Add a prelude release note for the 18.0.0 Rocky GA
  releasenotes/notes/rocky-prelude-b78b51b9026ed336.yaml
Due: none

Fix image-defined numa claims during evacuate
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Handle binding_failed vif plug errors on compute restart
  nova/compute/manager.py
  nova/network/os_vif_util.py
  nova/tests/unit/network/test_os_vif_util.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Add additional info to resource provider aggregates update API
  placement-api-ref/source/parameters.yaml
Due: none

Quota details for key_pair "in_use" is 0.
  api-ref/source/parameters.yaml
Due: none

Return 400 when compute host is not found
  nova/api/openstack/compute/migrate_server.py
  nova/tests/unit/api/openstack/compute/test_migrate_server.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

block_device: Rollback volumes to in-use on DeviceDetachFailed
  nova/tests/unit/virt/test_block_device.py
  nova/virt/block_device.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Remove patching the mock lib
  nova/test.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Update .gitreview for stable/rocky
  .gitreview
Due: nova-tox-functional, nova-tox-functional-py35

Update UPPER_CONSTRAINTS_FILE for stable/rocky
  tox.ini
Due: nova-tox-functional, nova-tox-functional-py35

Update reno for stable/rocky
  releasenotes/source/index.rst
  releasenotes/source/rocky.rst
Due: none

api-ref: fix GET /flavors?is_public description
  api-ref/source/parameters.yaml
Due: none

placement: ignore policy scope check failures if not enforcing scope
  nova/api/openstack/placement/deploy.py
  nova/api/openstack/placement/wsgi.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

improve migration script
  doc/source/admin/migration.rst
Due: none

Revert "libvirt: slow live-migration to ensure network is ready"
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/test_virt_drivers.py
  nova/virt/libvirt/driver.py
  releasenotes/notes/libvirt-live-migration-speed-limit-revert-81a9d29d60b0df4b.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Make Xen code py3-compatible
  nova/virt/xenapi/vm_utils.py
  tools/xenserver/vm_vdi_cleaner.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Test case for multiple forbidden traits
  nova/tests/functional/api/openstack/placement/db/test_allocation_candidates.py
Due: nova-tox-functional, nova-tox-functional-py35

Adds a test for _get_provider_ids_matching()
  nova/tests/functional/api/openstack/placement/db/test_allocation_candidates.py
Due: nova-tox-functional, nova-tox-functional-py35

placement: use simple code paths when possible
  nova/api/openstack/placement/objects/resource_provider.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Handle unicode characters in migration params
  nova/tests/unit/virt/libvirt/test_guest.py
  nova/virt/libvirt/guest.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Imported Translations from Zanata
  nova/locale/cs/LC_MESSAGES/nova.po
  nova/locale/de/LC_MESSAGES/nova.po
  nova/locale/es/LC_MESSAGES/nova.po
  nova/locale/fr/LC_MESSAGES/nova.po
  nova/locale/it/LC_MESSAGES/nova.po
  nova/locale/ja/LC_MESSAGES/nova.po
  nova/locale/ko_KR/LC_MESSAGES/nova.po
  nova/locale/pt_BR/LC_MESSAGES/nova.po
  nova/locale/ru/LC_MESSAGES/nova.po
  nova/locale/tr_TR/LC_MESSAGES/nova.po
  nova/locale/zh_CN/LC_MESSAGES/nova.po
  nova/locale/zh_TW/LC_MESSAGES/nova.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ko_KR/LC_MESSAGES/releasenotes.po
Due: none
