Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

nova-dsvm-multinode-base:
  parent: legacy-dsvm-base-multinode
  description: 'Base job for multinode nova devstack/tempest jobs.
  
    Will setup firewall rules on all the nodes allowing them to talk to
  
    each other.
  
    '
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/nova
  - openstack/tempest
  ...

nova-tox-functional:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project with Nova
  
    specific irrelevant-files list. Uses tox with the ``functional``
  
    environment.
  
    '
  vars:
    tox_envlist: functional
  timeout: 3600

nova-tox-functional-py35:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project
  
    under cPython version 3.5. with Nova specific irrelevant-files list.
  
    Uses tox with the ``functional-py35`` environment.
  
    '
  vars:
    tox_envlist: functional-py35
  timeout: 3600

nova-live-migration:
  parent: nova-dsvm-multinode-base
  run: playbooks/legacy/nova-live-migration/run.yaml
  post-run: playbooks/legacy/nova-live-migration/post.yaml

FakeLibvirtFixture: mock get_fs_info
  nova/tests/functional/libvirt/test_report_cpu_traits.py
  nova/tests/functional/libvirt/test_shared_resource_provider.py
  nova/tests/unit/virt/libvirt/fakelibvirt.py
Due: nova-tox-functional, nova-tox-functional-py35

tox: Silence psycopg2 warnings
  tox.ini
Due: nova-tox-functional, nova-tox-functional-py35

conf: Add '[neutron] physnets' and related options
  nova/compute/manager.py
  nova/conf/neutron.py
  nova/tests/unit/conf/__init__.py
  nova/tests/unit/conf/test_neutron.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Add functional tests for numa-aware-vswitches
  nova/tests/fixtures.py
  nova/tests/functional/libvirt/test_numa_servers.py
Due: nova-tox-functional, nova-tox-functional-py35

libvirt: Start populating NUMACell.network_metadata field
  nova/exception.py
  nova/tests/unit/conf_fixture.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/test_hardware.py
  nova/virt/hardware.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Add nova-manage placement sync_aggregates
  doc/source/cli/nova-manage.rst
  nova/cmd/manage.py
  nova/exception.py
  nova/tests/functional/api/client.py
  nova/tests/functional/test_nova_manage.py
  nova/tests/unit/test_nova_manage.py
  releasenotes/notes/nova-manage-placement-sync-aggregates-1e6380eceda7dc9b.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Consider network NUMA affinity for move operations
  nova/conductor/manager.py
  nova/conductor/tasks/live_migrate.py
  nova/conductor/tasks/migrate.py
  nova/network/neutronv2/api.py
  nova/objects/request_spec.py
  nova/tests/unit/conductor/tasks/test_live_migrate.py
  nova/tests/unit/conductor/tasks/test_migrate.py
  nova/tests/unit/conductor/test_conductor.py
  nova/tests/unit/network/test_neutronv2.py
  nova/tests/unit/objects/test_request_spec.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

scheduler: Start utilizing RequestSpec.network_metadata
  doc/source/admin/cpu-topologies.rst
  doc/source/admin/index.rst
  doc/source/admin/networking.rst
  nova/compute/api.py
  nova/scheduler/filters/numa_topology_filter.py
  nova/tests/functional/libvirt/test_numa_servers.py
  nova/tests/unit/compute/test_compute_api.py
  nova/tests/unit/compute/test_compute_cells.py
  nova/tests/unit/scheduler/filters/test_numa_topology_filters.py
  releasenotes/notes/numa-aware-vswitches-162132290dd6ef17.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

doc: remove rocky-specific nova-scheduler min placement version
  doc/source/user/placement.rst
Due: none

ironic: Report resources as reserved when needed
  nova/scheduler/client/report.py
  nova/tests/unit/scheduler/client/test_report.py
  nova/tests/unit/virt/ironic/test_driver.py
  nova/virt/ironic/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Use placement context in placement functional tests
  nova/tests/functional/api/openstack/placement/db/test_base.py
  nova/tests/functional/api/openstack/placement/db/test_consumer.py
  nova/tests/functional/api/openstack/placement/fixtures/gabbits.py
  nova/tests/functional/api/openstack/placement/test_direct.py
Due: nova-tox-functional, nova-tox-functional-py35

Hyper-V + OVS: plug vifs before starting VMs
  nova/tests/unit/virt/hyperv/test_vmops.py
  nova/virt/hyperv/vmops.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

doc: add missing permission for the vCenter service account
  doc/source/admin/configuration/hypervisor-vmware.rst
Due: none

Make host_aggregate_map dictionary case-insensitive
  nova/scheduler/host_manager.py
  nova/tests/unit/scheduler/test_host_manager.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Use vif.vif_name in _set_config_VIFGeneric
  nova/tests/unit/virt/libvirt/test_vif.py
  nova/virt/libvirt/vif.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

[placement] Extract base functional test case from test_direct
  nova/tests/functional/api/openstack/placement/base.py
  nova/tests/functional/api/openstack/placement/test_direct.py
Due: nova-tox-functional, nova-tox-functional-py35

Fix signature of _FakeImageService.download
  nova/tests/unit/image/fake.py
Due: nova-tox-functional, nova-tox-functional-py35

[placement] Use base test in placement functional tests
  nova/tests/functional/api/openstack/placement/base.py
  nova/tests/functional/api/openstack/placement/db/test_allocation_candidates.py
  nova/tests/functional/api/openstack/placement/db/test_base.py
  nova/tests/functional/api/openstack/placement/db/test_consumer.py
  nova/tests/functional/api/openstack/placement/db/test_resource_class_cache.py
  nova/tests/functional/api/openstack/placement/fixtures/gabbits.py
  nova/tests/functional/api/openstack/placement/fixtures/placement.py
  nova/tests/functional/api_sample_tests/api_sample_base.py
Due: nova-tox-functional, nova-tox-functional-py35

Fix accumulated nits from port binding for live migration series
  nova/compute/manager.py
  nova/conductor/tasks/live_migrate.py
  nova/network/neutronv2/api.py
  nova/objects/migrate_data.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/network/test_neutronv2.py
  nova/tests/unit/virt/libvirt/test_host.py
  nova/virt/libvirt/driver.py
  nova/virt/libvirt/host.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

api-ref: document user_data length restriction
  api-ref/source/parameters.yaml
Due: none

Change deprecated policies to policy
  nova/objects/request_spec.py
  nova/scheduler/utils.py
  nova/scheduler/weights/affinity.py
  nova/tests/unit/objects/test_request_spec.py
  nova/tests/unit/scheduler/test_scheduler_utils.py
  nova/tests/unit/scheduler/weights/test_weights_affinity.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Fix all invalid obj_make_compatible test case
  nova/tests/unit/objects/test_block_device.py
  nova/tests/unit/objects/test_build_request.py
  nova/tests/unit/objects/test_flavor.py
  nova/tests/unit/objects/test_instance_group.py
  nova/tests/unit/objects/test_instance_numa_topology.py
  nova/tests/unit/objects/test_network_request.py
  nova/tests/unit/objects/test_virtual_interface.py
Due: nova-tox-functional, nova-tox-functional-py35

Use source vifs when unplugging on source during post live migrate
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

compute node local_gb_used include swap disks
  nova/compute/resource_tracker.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/compute/test_resource_tracker.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Fix create_all() to replace_all() in comments
  nova/api/openstack/placement/objects/consumer.py
  nova/api/openstack/placement/util.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Pass source vifs to driver.cleanup in _post_live_migration
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

libvirt: Revert non-reporting DISK_GB if sharing
  nova/tests/functional/libvirt/test_shared_resource_provider.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Assorted cleanups from numa-aware-vswitches series
  doc/source/admin/cpu-topologies.rst
  nova/compute/api.py
  nova/network/neutronv2/api.py
  nova/objects/fields.py
  nova/objects/network_metadata.py
  nova/tests/unit/conf/test_neutron.py
  nova/tests/unit/virt/test_hardware.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Add functional test for forced live migration rollback allocs
  nova/tests/functional/test_servers.py
Due: nova-tox-functional, nova-tox-functional-py35

Disable limits if force_hosts or force_nodes is set
  nova/scheduler/client/report.py
  nova/scheduler/utils.py
  nova/tests/unit/scheduler/client/test_report.py
  nova/tests/unit/scheduler/test_utils.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

libvirt: add method to configure migration speed
  nova/tests/unit/virt/libvirt/fakelibvirt.py
  nova/tests/unit/virt/libvirt/test_guest.py
  nova/virt/libvirt/guest.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Add description for placement 1.26
  placement-api-ref/source/parameters.yaml
Due: none

Add additional functional tests for NUMA networks
  nova/tests/fixtures.py
  nova/tests/functional/libvirt/test_numa_servers.py
  nova/tests/unit/virt/libvirt/fakelibvirt.py
Due: nova-tox-functional, nova-tox-functional-py35

Add unshelve instance error info to fault table
  nova/conductor/manager.py
  nova/tests/unit/conductor/test_conductor.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Remove superfluous network stubbing in func test
  nova/tests/functional/libvirt/test_numa_servers.py
Due: nova-tox-functional, nova-tox-functional-py35

Set default of oslo.privsep.daemon logging to INFO level
  nova/config.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Extract _update_to_placement method in resource tracker
  nova/compute/resource_tracker.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

[placement] Use own set_middleware_defaults
  nova/api/openstack/placement/wsgi.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Path conditions:
  nova-dsvm-multinode-base: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-tox-functional: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-tox-functional-py35: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-live-migration: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
