Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

nova-dsvm-multinode-base:
  parent: legacy-dsvm-base-multinode
  description: 'Base job for multinode nova devstack/tempest jobs.
  
    Will setup firewall rules on all the nodes allowing them to talk to
  
    each other.
  
    '
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/nova
  - openstack/tempest
  ...

nova-tox-functional:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project with Nova
  
    specific irrelevant-files list. Uses tox with the ``functional``
  
    environment.
  
    '
  vars:
    tox_envlist: functional
  timeout: 3600

nova-tox-functional-py35:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project
  
    under cPython version 3.5. with Nova specific irrelevant-files list.
  
    Uses tox with the ``functional-py35`` environment.
  
    '
  vars:
    tox_envlist: functional-py35
  timeout: 3600

nova-live-migration:
  parent: nova-dsvm-multinode-base
  run: playbooks/legacy/nova-live-migration/run.yaml
  post-run: playbooks/legacy/nova-live-migration/post.yaml

Adjust log style and remove ocata support
  nova/compute/resource_tracker.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Address nits in server group policy series
  nova/db/sqlalchemy/api_models.py
  nova/scheduler/filters/affinity_filter.py
  nova/tests/unit/scheduler/filters/test_affinity_filters.py
  releasenotes/notes/complex-anti-affinity-policies-dcf4719e859093be.yaml
  releasenotes/notes/use-new-style-policy-in-notifications-3c6eefbb56224be2.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Add UUID validation for consumer_uuid
  nova/api/openstack/placement/handlers/allocation.py
  nova/tests/functional/api/openstack/placement/gabbits/allocations.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Replace support matrix ext with common library
  doc/ext/support_matrix.py
  doc/requirements.txt
  doc/source/conf.py
  doc/source/user/support-matrix.ini
Due: nova-tox-functional, nova-tox-functional-py35

Update HostState.instances during _consume_selected_host
  nova/scheduler/filter_scheduler.py
  nova/tests/unit/scheduler/test_filter_scheduler.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Use ThreadPoolExecutor for max_concurrent_live_migrations
  lower-constraints.txt
  nova/compute/manager.py
  nova/exception.py
  nova/tests/fixtures.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/compute/test_compute_mgr.py
  requirements.txt
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

API: add support to abort queued live migration in microversion 2.65
  api-ref/source/server-migrations.inc
  doc/api_samples/server-migrations/v2.65/live-migrate-server.json
  doc/api_samples/versions/v21-version-get-resp.json
  doc/api_samples/versions/versions-get-resp.json
  nova/api/openstack/api_version_request.py
  nova/api/openstack/compute/rest_api_version_history.rst
  nova/api/openstack/compute/server_migrations.py
  nova/compute/api.py
  nova/exception.py
  nova/tests/functional/api_sample_tests/api_samples/server-migrations/v2.65/live-migrate-server.json.tpl
  nova/tests/functional/api_sample_tests/test_server_migrations.py
  nova/tests/unit/api/openstack/compute/test_server_migrations.py
  nova/tests/unit/compute/test_compute_api.py
  releasenotes/notes/abort-live-migration-in-queue-0c917f415d6dac5a.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Compute: add support to abort queued live migration
  nova/compute/manager.py
  nova/objects/service.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Fix ServerMigrationSampleJsonTestsV2_24 to use its own sample file
  doc/api_samples/server-migrations/v2.24/live-migrate-server.json
  nova/tests/functional/api_sample_tests/api_samples/server-migrations/v2.24/live-migrate-server.json.tpl
  nova/tests/functional/api_sample_tests/test_server_migrations.py
Due: nova-tox-functional, nova-tox-functional-py35

Move legacy-tempest-dsvm-nova-os-vif in repo
  .zuul.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Merge server create for scheduler hint extension
  nova/api/openstack/compute/scheduler_hints.py
  nova/api/openstack/compute/servers.py
  nova/tests/unit/api/openstack/compute/test_scheduler_hints.py
  nova/tests/unit/api/openstack/compute/test_serversV21.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Escalate UUID validation warning to error in test
  nova/tests/fixtures.py
  nova/tests/unit/test_fixtures.py
Due: nova-tox-functional, nova-tox-functional-py35

Fix a newly introduced UUID warning in the unit test
  nova/tests/unit/conductor/test_conductor.py
Due: nova-tox-functional, nova-tox-functional-py35

Address nit in 79dac41fee178dabb547f4d7bc10609630767131
  nova/compute/manager.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Add unshelve instance error info to fault table
  nova/conductor/manager.py
  nova/tests/unit/conductor/test_conductor.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Call generate_image_url only for legacy notification
  nova/compute/utils.py
  nova/notifications/base.py
  nova/tests/unit/notifications/test_base.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Fix "XLibvirt KVM (ppc64)" typo in feature support matrix docs
  doc/source/user/support-matrix.ini
Due: none

update tox venv env to install all requirements
  tox.ini
Due: nova-tox-functional, nova-tox-functional-py35

Transform metrics.update notification
  doc/notification_samples/metrics-update.json
  nova/compute/resource_tracker.py
  nova/compute/utils.py
  nova/notifications/objects/metrics.py
  nova/tests/functional/notification_sample_tests/test_metrics.py
  nova/tests/unit/compute/test_resource_tracker.py
  nova/tests/unit/notifications/objects/test_notification.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Merge server create for multiple-create extension
  nova/api/openstack/compute/multiple_create.py
  nova/api/openstack/compute/servers.py
  nova/tests/unit/api/openstack/compute/test_multiple_create.py
  nova/tests/unit/api/openstack/compute/test_serversV21.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Merge server create for keypair extension
  nova/api/openstack/compute/keypairs.py
  nova/api/openstack/compute/servers.py
  nova/tests/unit/api/openstack/compute/test_keypairs.py
  nova/tests/unit/api/openstack/compute/test_serversV21.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Fix the incorrect description and sample
  api-guide/source/paginated_collections.rst
Due: none

libvirt: remove unused attribute driver for LibvirtConfigNodeDevice
  nova/virt/libvirt/config.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Fix confusing log message in scheduler
  nova/scheduler/manager.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

clarify usage of upgrade_levels group
  nova/conf/upgrade_levels.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Handle HostMappingNotFound when deleting a compute service
  nova/api/openstack/compute/services.py
  nova/tests/unit/api/openstack/compute/test_services.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

[placement] Add gabbi coverage for an inventory change
  nova/tests/functional/api/openstack/placement/gabbits/with-allocations.yaml
Due: nova-tox-functional, nova-tox-functional-py35

[placement] Add gabbi coverage for inv of missing rp
  nova/tests/functional/api/openstack/placement/gabbits/inventory.yaml
Due: nova-tox-functional, nova-tox-functional-py35

[placement] cover bad content-length header
  nova/tests/functional/api/openstack/placement/gabbits/basic-http.yaml
Due: nova-tox-functional, nova-tox-functional-py35

Avoid requesting DISK_GB allocation for root_gb on BFV instances
  nova/compute/api.py
  nova/objects/request_spec.py
  nova/scheduler/utils.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/compute/test_compute_api.py
  nova/tests/unit/objects/test_objects.py
  nova/tests/unit/objects/test_request_spec.py
  releasenotes/notes/bfv-instances-no-longer-allocate-from-compute-95d048fbe9867c34.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Remove "DEPRECATED" tag from Obsolete APIs
  api-ref/source/os-certificates.inc
  api-ref/source/os-cloudpipe.inc
  api-ref/source/os-fixed-ips.inc
  api-ref/source/os-floating-ip-dns.inc
  api-ref/source/os-floating-ips-bulk.inc
  api-ref/source/os-fping.inc
  api-ref/source/os-virtual-interfaces.inc
Due: none

Remove support for /os-floating-ips-bulk REST API
  api-ref/source/index.rst
  api-ref/source/os-floating-ips-bulk.inc
  nova/api/openstack/compute/floating_ips_bulk.py
  nova/api/openstack/compute/schemas/floating_ips_bulk.py
  nova/policies/__init__.py
  nova/policies/floating_ips_bulk.py
  nova/tests/functional/api_sample_tests/api_samples/os-floating-ips-bulk/floating-ips-bulk-create-req.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-floating-ips-bulk/floating-ips-bulk-create-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-floating-ips-bulk/floating-ips-bulk-delete-req.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-floating-ips-bulk/floating-ips-bulk-delete-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-floating-ips-bulk/floating-ips-bulk-list-by-host-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-floating-ips-bulk/floating-ips-bulk-list-resp.json.tpl
  nova/tests/functional/api_sample_tests/test_floating_ips_bulk.py
  nova/tests/unit/api/openstack/compute/test_floating_ips_bulk.py
  nova/tests/unit/fake_policy.py
  nova/tests/unit/test_policy.py
  releasenotes/notes/bp-remove-nova-network-api-removals-931ad60364f6f2a8.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Remove support for /os-floating-ip-dns REST API
  api-ref/source/index.rst
  api-ref/source/os-floating-ip-dns.inc
  nova/api/openstack/compute/floating_ip_dns.py
  nova/api/openstack/compute/schemas/floating_ip_dns.py
  nova/policies/__init__.py
  nova/policies/floating_ip_dns.py
  nova/tests/functional/api_sample_tests/api_samples/os-floating-ip-dns/floating-ip-dns-create-or-update-entry-req.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-floating-ip-dns/floating-ip-dns-create-or-update-entry-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-floating-ip-dns/floating-ip-dns-create-or-update-req.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-floating-ip-dns/floating-ip-dns-create-or-update-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-floating-ip-dns/floating-ip-dns-entry-get-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-floating-ip-dns/floating-ip-dns-entry-list-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-floating-ip-dns/floating-ip-dns-list-resp.json.tpl
  nova/tests/functional/api_sample_tests/test_floating_ip_dns.py
  nova/tests/unit/api/openstack/compute/test_floating_ip_dns.py
  nova/tests/unit/fake_policy.py
  nova/tests/unit/test_policy.py
  releasenotes/notes/bp-remove-nova-network-api-removals-931ad60364f6f2a8.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Fix ServerMigrationSampleJsonTests to use sample files from version dir
  api-ref/source/server-migrations.inc
  doc/api_samples/server-migrations/v2.22/force_complete.json
  doc/api_samples/server-migrations/v2.22/live-migrate-server.json
  nova/tests/functional/api_sample_tests/api_samples/server-migrations/v2.22/force_complete.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/server-migrations/v2.22/live-migrate-server.json.tpl
  nova/tests/functional/api_sample_tests/test_server_migrations.py
Due: nova-tox-functional, nova-tox-functional-py35

Merge server create for config_drive extension
  nova/api/openstack/compute/config_drive.py
  nova/api/openstack/compute/servers.py
  nova/tests/unit/api/openstack/compute/test_config_drive.py
  nova/tests/unit/api/openstack/compute/test_serversV21.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Merge server create for bdm extensions
  nova/api/openstack/compute/block_device_mapping.py
  nova/api/openstack/compute/block_device_mapping_v1.py
  nova/api/openstack/compute/servers.py
  nova/tests/unit/api/openstack/compute/test_block_device_mapping.py
  nova/tests/unit/api/openstack/compute/test_block_device_mapping_v1.py
  nova/tests/unit/api/openstack/compute/test_serversV21.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

[placement] disallow additional fields in allocations
  nova/api/openstack/placement/schemas/allocation.py
  nova/tests/functional/api/openstack/placement/gabbits/allocations-1-12.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Add VIFMigrateData object for live migration
  nova/objects/fields.py
  nova/objects/migrate_data.py
  nova/tests/unit/objects/test_fields.py
  nova/tests/unit/objects/test_migrate_data.py
  nova/tests/unit/objects/test_objects.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Path conditions:
  nova-dsvm-multinode-base: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-tox-functional: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-tox-functional-py35: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-live-migration: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
