Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

nova-dsvm-multinode-base:
  parent: legacy-dsvm-base-multinode
  description: 'Base job for multinode nova devstack/tempest jobs.
  
    Will setup firewall rules on all the nodes allowing them to talk to
  
    each other.
  
    '
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/nova
  - openstack/tempest
  ...

nova-tox-functional:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project with Nova
  
    specific irrelevant-files list. Uses tox with the ``functional``
  
    environment.
  
    '
  vars:
    tox_envlist: functional
  timeout: 3600

nova-tox-functional-py35:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project
  
    under cPython version 3.5. with Nova specific irrelevant-files list.
  
    Uses tox with the ``functional-py35`` environment.
  
    '
  vars:
    tox_envlist: functional-py35
  timeout: 3600

nova-live-migration:
  parent: nova-dsvm-multinode-base
  run: playbooks/legacy/nova-live-migration/run.yaml
  post-run: playbooks/legacy/nova-live-migration/post.yaml

Fix regression when listing build_requests with marker and ip filter
  nova/compute/api.py
  nova/tests/functional/wsgi/test_servers.py
  nova/tests/unit/compute/test_compute_api.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Convert ironic virt driver to update_provider_tree
  nova/compute/resource_tracker.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/compute/test_resource_tracker.py
  nova/tests/unit/virt/ironic/test_driver.py
  nova/virt/driver.py
  nova/virt/ironic/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Don't heal allocations for deleted servers
  nova/cmd/manage.py
  nova/tests/functional/test_nova_manage.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Wait for network-vif-plugged before starting live migration
  nova/compute/manager.py
  nova/conf/compute.py
  nova/objects/migrate_data.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/objects/test_migrate_data.py
  nova/tests/unit/objects/test_objects.py
  releasenotes/notes/live_migration_wait_for_vif_plug-c9dcb034067890d8.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Add check if neutron "binding-extended" extension is available
  nova/network/base_api.py
  nova/network/neutronv2/api.py
  nova/network/neutronv2/constants.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Validate transport_url in nova-manage cell_v2 commands
  doc/source/cli/nova-manage.rst
  nova/cmd/manage.py
  nova/tests/unit/test_nova_manage.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Add information of deprecation nova-network in system-admin.rst
  doc/source/admin/system-admin.rst
Due: none

Mention nova-status upgrade check CLI in upgrade doc
  doc/source/cli/nova-status.rst
  doc/source/user/upgrade.rst
Due: none

Be graceful about vif plugging in early ironic driver startup
  nova/tests/unit/virt/ironic/test_driver.py
  nova/virt/ironic/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Add a microversion for consumer generation support
  nova/api/openstack/placement/errors.py
  nova/api/openstack/placement/handlers/allocation.py
  nova/api/openstack/placement/microversion.py
  nova/api/openstack/placement/objects/consumer.py
  nova/api/openstack/placement/objects/resource_provider.py
  nova/api/openstack/placement/rest_api_version_history.rst
  nova/api/openstack/placement/schemas/allocation.py
  nova/api/openstack/placement/util.py
  nova/tests/functional/api/openstack/placement/gabbits/allocations-1.28.yaml
  nova/tests/functional/api/openstack/placement/gabbits/allocations-policy.yaml
  nova/tests/functional/api/openstack/placement/gabbits/allocations-post.yaml
  nova/tests/functional/api/openstack/placement/gabbits/microversion.yaml
  nova/tests/unit/api/openstack/placement/test_util.py
  placement-api-ref/source/allocations.inc
  placement-api-ref/source/parameters.yaml
  placement-api-ref/source/samples/allocations/get-allocations-1.28.json
  placement-api-ref/source/samples/allocations/manage-allocations-request-1.28.json
  placement-api-ref/source/samples/allocations/update-allocations-request-1.28.json
  releasenotes/notes/consumer_generation-f576ac2594b24e2e.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Fix nits from change Id609789ef6b4a4c745550cde80dd49cabe03869a
  nova/conf/placement.py
  nova/tests/functional/api/openstack/placement/db/test_consumer.py
  nova/tests/functional/api/openstack/placement/gabbits/ensure-consumer.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Ironic update_provider_tree: restore traits override
  nova/tests/unit/virt/ironic/test_driver.py
  nova/virt/ironic/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Comment proposed ironic fix for removal of ironic driver workaround
  nova/virt/ironic/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Implement file backed memory for instances in libvirt
  doc/source/admin/adv-config.rst
  doc/source/admin/file-backed-memory.rst
  doc/source/admin/huge-pages.rst
  doc/source/user/support-matrix.ini
  nova/conf/libvirt.py
  nova/objects/migrate_data.py
  nova/objects/service.py
  nova/tests/unit/objects/test_migrate_data.py
  nova/tests/unit/objects/test_objects.py
  nova/tests/unit/virt/libvirt/test_config.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/libvirt/test_host.py
  nova/tests/unit/virt/libvirt/test_migration.py
  nova/virt/libvirt/config.py
  nova/virt/libvirt/driver.py
  nova/virt/libvirt/host.py
  nova/virt/libvirt/migration.py
  releasenotes/notes/libvirt-file-backed-memory-ea2cd292200fc11c.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

fix PowerVM get_bootdisk_path docstring
  nova/virt/powervm/disk/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Add instance.lock notification
  doc/notification_samples/instance-lock.json
  nova/compute/api.py
  nova/notifications/objects/base.py
  nova/notifications/objects/instance.py
  nova/objects/fields.py
  nova/tests/functional/notification_sample_tests/test_instance.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/notifications/objects/test_notification.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Cleanup nits in placement database changes
  nova/api/openstack/placement/db_api.py
  nova/api/openstack/placement/deploy.py
  nova/tests/fixtures.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

objects: Remove NUMATopologyLimits.obj_from_db_obj
  nova/objects/numa.py
  nova/tests/unit/objects/test_numa.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

objects: Remove legacy '_to_dict' functions
  nova/objects/instance_numa_topology.py
  nova/objects/numa.py
  nova/tests/unit/objects/test_instance_numa_topology.py
  nova/tests/unit/objects/test_numa.py
  nova/tests/unit/scheduler/test_host_manager.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/test_hardware.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Merge server create schema for legacy BDM extension
  nova/api/openstack/compute/block_device_mapping_v1.py
  nova/api/openstack/compute/schemas/block_device_mapping.py
  nova/api/openstack/compute/schemas/block_device_mapping_v1.py
  nova/api/openstack/compute/schemas/servers.py
  nova/api/openstack/compute/servers.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

placement: s/None/null/ in consumer conflict msg
  nova/api/openstack/placement/util.py
  nova/tests/functional/api/openstack/placement/gabbits/allocations-1.28.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Fix nits from change I676291ec0faa1dea0bd5050ef8e3426d171de4c6
  doc/source/admin/file-backed-memory.rst
  doc/source/admin/huge-pages.rst
  doc/source/user/support-matrix.ini
  nova/conf/libvirt.py
  nova/tests/unit/objects/test_migrate_data.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/libvirt/test_host.py
  nova/virt/libvirt/driver.py
  nova/virt/libvirt/migration.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Implement discard for file backed memory
  doc/source/admin/file-backed-memory.rst
  nova/objects/migrate_data.py
  nova/tests/unit/objects/test_migrate_data.py
  nova/tests/unit/objects/test_objects.py
  nova/tests/unit/virt/libvirt/test_config.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/libvirt/test_migration.py
  nova/virt/libvirt/config.py
  nova/virt/libvirt/driver.py
  nova/virt/libvirt/migration.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Fix nits from change Ia7cf4414feb335b3c2e863b4c8b4ff559b275c34
  doc/source/admin/file-backed-memory.rst
  nova/tests/unit/objects/test_migrate_data.py
  nova/tests/unit/virt/libvirt/test_driver.py
Due: nova-tox-functional, nova-tox-functional-py35

Remove mox in nova/tests/unit/virt/xenapi/stubs.py
  nova/tests/unit/compute/test_compute_xen.py
  nova/tests/unit/virt/xenapi/image/test_glance.py
  nova/tests/unit/virt/xenapi/stubs.py
  nova/tests/unit/virt/xenapi/test_driver.py
  nova/tests/unit/virt/xenapi/test_vm_utils.py
  nova/tests/unit/virt/xenapi/test_vmops.py
  nova/tests/unit/virt/xenapi/test_volume_utils.py
  nova/tests/unit/virt/xenapi/test_xenapi.py
Due: nova-tox-functional, nova-tox-functional-py35

api-ref: Fix parameters about trusted certificate IDs
  api-ref/source/parameters.yaml
  api-ref/source/servers.inc
Due: none

Remove mox in test_conductor.py (1)
  nova/tests/unit/conductor/test_conductor.py
Due: nova-tox-functional, nova-tox-functional-py35

Remove mox in test_conductor.py (2)
  nova/tests/unit/conductor/test_conductor.py
Due: nova-tox-functional, nova-tox-functional-py35

libvirt: Log breadcrumb for known encryption bug
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
  releasenotes/notes/bug-1778044-f498ee2f2cfb35ea.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

[placement] Extract create_allocation_list
  nova/api/openstack/placement/handlers/allocation.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Fix bug to api-ref
  api-ref/source/servers-admin-action.inc
Due: none

Fix bug to filter_scheduler
  nova/conf/scheduler.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

conf: Deprecate 'network_manager'
  nova/conf/network.py
  nova/conf/service.py
  releasenotes/notes/deprecate-more-nova-network-opts-38a69fb87f10bb9c.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Bump keystoneauth1 minimum to 3.9.0
  lower-constraints.txt
  requirements.txt
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Adapter raise_exc=False by default
  nova/api/openstack/identity.py
  nova/api/openstack/placement/direct.py
  nova/cmd/status.py
  nova/scheduler/client/report.py
  nova/tests/fixtures.py
  nova/tests/functional/api/openstack/placement/test_direct.py
  nova/tests/unit/scheduler/client/test_report.py
  nova/tests/unit/test_identity.py
  nova/tests/unit/test_utils.py
  nova/utils.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

network: Unchain '_get_phynet_info' from '_get_port_vnic_info'
  nova/network/neutronv2/api.py
  nova/tests/unit/network/test_neutronv2.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

[Stable Only] Add amd-ssbd and amd-no-ssb CPU flags
  nova/conf/libvirt.py
  releasenotes/notes/libvirt-cpu-model-extra-flags-amd-ssbd-1c0d0cec14073dec.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Switch to oslo_messaging.ConfFixture.transport_url
  nova/tests/fixtures.py
  nova/tests/unit/test_nova_manage.py
Due: nova-tox-functional, nova-tox-functional-py35

Path conditions:
  nova-dsvm-multinode-base: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-tox-functional: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-tox-functional-py35: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-live-migration: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
