Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

nova-dsvm-multinode-base:
  parent: legacy-dsvm-base-multinode
  description: 'Base job for multinode nova devstack/tempest jobs.
  
    Will setup firewall rules on all the nodes allowing them to talk to
  
    each other.
  
    '
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/nova
  - openstack/tempest
  ...

nova-tox-functional:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project with Nova
  
    specific irrelevant-files list. Uses tox with the ``functional``
  
    environment.
  
    '
  vars:
    tox_envlist: functional
  timeout: 3600

nova-tox-functional-py35:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project
  
    under cPython version 3.5. with Nova specific irrelevant-files list.
  
    Uses tox with the ``functional-py35`` environment.
  
    '
  vars:
    tox_envlist: functional-py35
  timeout: 3600

nova-live-migration:
  parent: nova-dsvm-multinode-base
  run: playbooks/legacy/nova-live-migration/run.yaml
  post-run: playbooks/legacy/nova-live-migration/post.yaml

Remove mox in test_compute_api.py (3)
  nova/tests/unit/compute/test_compute_api.py
Due: nova-tox-functional, nova-tox-functional-py35

Remove mox in libvirt/test_driver.py (4)
  nova/tests/unit/virt/libvirt/test_driver.py
Due: nova-tox-functional, nova-tox-functional-py35

fix tox python3 overrides
  tox.ini
Due: nova-tox-functional, nova-tox-functional-py35

Ensure resource class cache when listing usages
  nova/objects/resource_provider.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Extract part of PlacementFixture to placement
  nova/tests/fixtures.py
  nova/tests/functional/api/openstack/placement/fixtures/__init__.py
  nova/tests/functional/api/openstack/placement/fixtures/gabbits.py
  nova/tests/functional/api/openstack/placement/fixtures/placement.py
  nova/tests/functional/api/openstack/placement/test_placement_api.py
Due: nova-tox-functional, nova-tox-functional-py35

doc follow https://review.openstack.org/#/c/572195
  doc/source/admin/configuration/schedulers.rst
  doc/source/user/filter-scheduler.rst
Due: none

Fix the file name of development-environment.rst
  doc/README.rst
Due: none

libvirt: remove unused get_ovs_interfaceid()
  nova/virt/libvirt/vif.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

mock utils.execute() in qemu-img unit test
  nova/tests/unit/virt/test_images.py
Due: nova-tox-functional, nova-tox-functional-py35

Document the internal online_migrations function behaviors
  nova/cmd/manage.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

placement: always create consumer records
  nova/api/openstack/placement/exception.py
  nova/api/openstack/placement/handlers/allocation.py
  nova/api/openstack/placement/objects/consumer.py
  nova/api/openstack/placement/objects/project.py
  nova/api/openstack/placement/objects/resource_provider.py
  nova/api/openstack/placement/objects/user.py
  nova/api/openstack/placement/util.py
  nova/cmd/manage.py
  nova/conf/placement.py
  nova/tests/functional/api/openstack/placement/db/test_consumer.py
  nova/tests/functional/api/openstack/placement/db/test_project.py
  nova/tests/functional/api/openstack/placement/db/test_user.py
  nova/tests/functional/api/openstack/placement/gabbits/ensure-consumer.yaml
  nova/tests/unit/api/openstack/placement/test_util.py
  releasenotes/notes/placement-incomplete-consumer-configuration-b775dac1bcd34f9d.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

xenapi: drop deprecated vif_driver config option
  doc/source/admin/configuration/hypervisor-xen-api.rst
  nova/conf/xenserver.py
  nova/tests/unit/virt/xenapi/stubs.py
  nova/tests/unit/virt/xenapi/test_vif.py
  nova/tests/unit/virt/xenapi/test_xenapi.py
  nova/virt/xenapi/fake.py
  nova/virt/xenapi/vif.py
  nova/virt/xenapi/vmops.py
  releasenotes/notes/remove-xenserver-vif-driver-option-850f8dcfe54bca7c.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Refactor libvirt get_memory_used_mb()
  nova/tests/unit/virt/libvirt/test_host.py
  nova/virt/libvirt/host.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Use oslo.messaging per-call monitoring
  lower-constraints.txt
  nova/compute/rpcapi.py
  nova/conf/__init__.py
  nova/conf/rpc.py
  nova/rpc.py
  nova/tests/fixtures.py
  nova/tests/unit/compute/test_rpcapi.py
  nova/tests/unit/test_rpc.py
  releasenotes/notes/rpc_timeout_changes-6b7e365bb44f7f3a.yaml
  requirements.txt
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

VMware: save VC reads for information that is static
  nova/virt/vmwareapi/host.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

VMware: remove reading resourcePool data
  nova/virt/vmwareapi/vm_util.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Remove unnecessary parameters from create volume API
  nova/tests/unit/volume/test_cinder.py
  nova/volume/cinder.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Update links in README
  doc/source/contributor/project-scope.rst
Due: none

Move db using provider unit tests to functional
  nova/tests/functional/api/openstack/placement/db/test_resource_provider.py
  nova/tests/unit/api/openstack/placement/objects/test_resource_provider.py
Due: nova-tox-functional, nova-tox-functional-py35

Adjust db using allocation unit tests
  nova/tests/unit/api/openstack/placement/objects/test_resource_provider.py
Due: nova-tox-functional, nova-tox-functional-py35

Remove nova dependencies from test_resource_provider
  nova/tests/unit/api/openstack/placement/objects/test_resource_provider.py
Due: nova-tox-functional, nova-tox-functional-py35

libvirt: Don't report DISK_GB if sharing
  nova/compute/provider_tree.py
  nova/tests/fixtures.py
  nova/tests/functional/integrated_helpers.py
  nova/tests/functional/libvirt/test_shared_resource_provider.py
  nova/tests/functional/regressions/test_bug_1741125.py
  nova/tests/functional/test_nova_manage.py
  nova/tests/functional/test_servers.py
  nova/tests/functional/wsgi/test_services.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Provide a direct interface to placement
  nova/api/openstack/placement/direct.py
  nova/scheduler/client/report.py
  nova/tests/functional/api/openstack/placement/test_direct.py
  nova/tests/functional/compute/test_resource_tracker.py
  nova/tests/functional/test_report_client.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Implement certificate_utils
  nova/exception.py
  nova/image/api.py
  nova/image/glance.py
  nova/tests/unit/image/test_glance.py
  nova/virt/images.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

add consumers generation field
  nova/db/sqlalchemy/api_migrations/migrate_repo/versions/059_add_consumer_generation.py
  nova/db/sqlalchemy/api_models.py
  nova/tests/functional/db/api/test_migrations.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Plumb trusted_certs through the compute service
  nova/compute/manager.py
  nova/objects/service.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/virt/libvirt/fake_libvirt_utils.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/libvirt/test_utils.py
  nova/virt/driver.py
  nova/virt/fake.py
  nova/virt/hyperv/driver.py
  nova/virt/ironic/driver.py
  nova/virt/libvirt/driver.py
  nova/virt/libvirt/utils.py
  nova/virt/powervm/driver.py
  nova/virt/vmwareapi/driver.py
  nova/virt/xenapi/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Add enhanced KVM storage QoS quotas
  nova/tests/unit/virt/libvirt/test_config.py
  nova/tests/unit/virt/libvirt/volume/test_volume.py
  nova/virt/libvirt/config.py
  nova/virt/libvirt/volume/volume.py
  releasenotes/notes/enhanced-kvm-storage-qos-f8f67d404949c0b0.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

api-ref: expand on various bdm parameters
  api-ref/source/parameters.yaml
Due: none

XenAPI: define a new image handler to use vdi streaming
  doc/source/admin/configuration/hypervisor-xen-api.rst
  lower-constraints.txt
  nova/conf/xenserver.py
  nova/tests/unit/virt/xenapi/image/test_vdi_stream.py
  nova/virt/xenapi/image/utils.py
  nova/virt/xenapi/image/vdi_stream.py
  releasenotes/notes/xenapi-image-handler-7628a7221b7323e2.yaml
  requirements.txt
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

XenAPI: update the document related to vdi streaming
  doc/source/admin/configuration/hypervisor-xen-api.rst
Due: none

Remove network info stubbing in functional test
  nova/tests/functional/integrated_helpers.py
  nova/tests/functional/regressions/test_bug_1741125.py
  nova/tests/functional/test_nova_manage.py
  nova/tests/functional/test_servers.py
Due: nova-tox-functional, nova-tox-functional-py35

Update nova-status & docs: require placement 1.25
  doc/source/cli/nova-status.rst
  doc/source/user/placement.rst
  nova/cmd/status.py
  nova/tests/unit/cmd/test_status.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

[placement] replace deprecated accept.best_match
  nova/api/openstack/placement/util.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Powervm configuration cleanup
  nova/conf/powervm.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Add trusted_image_certificates to REST API
  api-ref/source/parameters.yaml
  api-ref/source/servers-actions.inc
  api-ref/source/servers.inc
  doc/api_samples/servers/v2.63/server-action-rebuild-resp.json
  doc/api_samples/servers/v2.63/server-action-rebuild.json
  doc/api_samples/servers/v2.63/server-create-req.json
  doc/api_samples/servers/v2.63/server-create-resp.json
  doc/api_samples/servers/v2.63/server-get-resp.json
  doc/api_samples/servers/v2.63/server-update-req.json
  doc/api_samples/servers/v2.63/server-update-resp.json
  doc/api_samples/servers/v2.63/servers-details-resp.json
  doc/api_samples/versions/v21-version-get-resp.json
  doc/api_samples/versions/versions-get-resp.json
  nova/api/openstack/api_version_request.py
  nova/api/openstack/compute/rest_api_version_history.rst
  nova/api/openstack/compute/schemas/servers.py
  nova/api/openstack/compute/servers.py
  nova/api/openstack/compute/views/servers.py
  nova/api/validation/parameter_types.py
  nova/compute/api.py
  nova/exception.py
  nova/policies/servers.py
  nova/tests/functional/api_sample_tests/api_samples/servers/v2.63/server-action-rebuild-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/servers/v2.63/server-action-rebuild.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/servers/v2.63/server-create-req.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/servers/v2.63/server-create-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/servers/v2.63/server-get-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/servers/v2.63/server-update-req.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/servers/v2.63/server-update-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/servers/v2.63/servers-details-resp.json.tpl
  nova/tests/functional/api_sample_tests/test_servers.py
  nova/tests/unit/api/openstack/compute/test_serversV21.py
  nova/tests/unit/api/openstack/fakes.py
  nova/tests/unit/compute/test_compute_api.py
  nova/tests/unit/test_policy.py
  releasenotes/notes/trusted-certs-microversion-589b75f0180d4d51.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Ignore UserWarning for scope checks during test runs
  nova/tests/fixtures.py
  nova/tests/functional/api/openstack/placement/fixtures/gabbits.py
Due: nova-tox-functional, nova-tox-functional-py35

placement: Allocation.consumer field
  nova/api/openstack/placement/handlers/allocation.py
  nova/api/openstack/placement/objects/consumer.py
  nova/api/openstack/placement/objects/resource_provider.py
  nova/tests/functional/api/openstack/placement/db/test_allocation_candidates.py
  nova/tests/functional/api/openstack/placement/db/test_base.py
  nova/tests/functional/api/openstack/placement/db/test_consumer.py
  nova/tests/functional/api/openstack/placement/db/test_project.py
  nova/tests/functional/api/openstack/placement/db/test_resource_provider.py
  nova/tests/functional/api/openstack/placement/db/test_user.py
  nova/tests/functional/api/openstack/placement/fixtures/gabbits.py
  nova/tests/unit/api/openstack/placement/objects/test_resource_provider.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

rework allocation handler _allocations_dict()
  nova/api/openstack/placement/handlers/allocation.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

[Stable Only] Initialise failed_builds in IronicNodeState
  nova/scheduler/ironic_host_manager.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Path conditions:
  nova-dsvm-multinode-base: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-tox-functional: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-tox-functional-py35: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-live-migration: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
