Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

.zuul.yaml:

- job:
    name: nova-dsvm-multinode-base
    parent: legacy-dsvm-base-multinode
    description: |
      Base job for multinode nova devstack/tempest jobs.
      Will setup firewall rules on all the nodes allowing them to talk to
      each other.
    timeout: 10800
    required-projects:
      - openstack-infra/devstack-gate
      - openstack/nova
      - openstack/tempest
    irrelevant-files:
      - ^(placement-)?api-.*$
      - ^(test-|)requirements.txt$
      - ^.*\.rst$
      - ^.git.*$
      - ^doc/.*$
      - ^nova/hacking/.*$
      - ^nova/locale/.*$
      - ^nova/tests/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
      - ^tests-py3.txt$
      - ^tools/.*$
      - ^tox.ini$
    nodeset: legacy-ubuntu-xenial-2-node

- job:
    name: nova-tox-functional
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project with Nova
      specific irrelevant-files list. Uses tox with the ``functional``
      environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional
    timeout: 3600

- job:
    name: nova-tox-functional-py35
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project
      under cPython version 3.5. with Nova specific irrelevant-files list.
      Uses tox with the ``functional-py35`` environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional-py35
    timeout: 3600

- job:
    name: nova-live-migration
    parent: nova-dsvm-multinode-base
    run: playbooks/legacy/nova-live-migration/run.yaml
    post-run: playbooks/legacy/nova-live-migration/post.yaml

- project:
    name: openstack/nova
    check:
      jobs:
        - nova-live-migration
        - nova-tox-functional
        - nova-tox-functional-py35
    gate:
      jobs:
        - nova-live-migration
        - nova-tox-functional
        - nova-tox-functional-py35

Consider hostdev devices when building metadata
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

libvirt: handle DiskNotFound during update_available_resource
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/test_images.py
  nova/virt/images.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Restrict CONF.quota.driver to DB and noop quota drivers
  nova/conf/quota.py
  nova/quota.py
  nova/tests/unit/compute/test_compute_cells.py
  nova/tests/unit/test_quota.py
  releasenotes/notes/rocky-quota-driver-config-6459e19ef2b43aa2.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

libvirt: Skip fetching the virtual size of block devices
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Trim the fat on HostState.instances
  nova/scheduler/host_manager.py
  nova/tests/unit/scheduler/test_host_manager.py
  releasenotes/notes/full_host_state_instances-6fbc828564a000ec.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Add nova-manage placement heal_allocations CLI
  doc/source/cli/nova-manage.rst
  nova/cmd/manage.py
  nova/exception.py
  nova/test.py
  nova/tests/functional/test_nova_manage.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/test_nova_manage.py
  releasenotes/notes/nova-manage-placement-heal-allocations-13a9a0a3df910e0b.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Metadata-API fails to retrieve avz for instances created before Pike
  nova/cmd/manage.py
  nova/objects/instance.py
  nova/tests/functional/db/test_instance.py
  releasenotes/notes/migration-tool-to-populate-inst.avz-29fed2fe57a9764d.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Remove unused _disk_qcow2_to_raw
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Downgrade overquota warning
  nova/compute/api.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Only run placement request filters when Placement will be called
  nova/scheduler/manager.py
  nova/tests/unit/scheduler/test_scheduler.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Fix some inconsistencies in doc
  doc/source/user/aggregates.rst
  doc/source/user/architecture.rst
Due: none

Fix typo in enable_certificate_validation config option help
  nova/conf/glance.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Fix bug for hypervisors
  doc/source/admin/configuration/hypervisors.rst
Due: none

[placement] Do not import oslo_service for log_options
  nova/api/openstack/placement/wsgi.py
  nova/conf/placement.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Re-base placement object unit tests on NoDBTestCase
  nova/tests/unit/api/openstack/placement/objects/test_resource_provider.py
Due: nova-tox-functional, nova-tox-functional-py35

Fix bug to doc
  doc/source/contributor/testing.rst
Due: none

Trivial: let internal use only func has _ prefix
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Fix some wrong urls in doc
  doc/source/contributor/api-2.rst
Due: none

Enhance api-guide general info some updates
  api-guide/source/general_info.rst
Due: none

Allow cinderv2 endpoints within the request context catalog
  nova/context.py
  nova/tests/unit/test_context.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Transform instance.exists notification
  doc/notification_samples/common_payloads/AuditPeriodPayload.json
  doc/notification_samples/common_payloads/BandwidthPayload.json
  doc/notification_samples/common_payloads/InstanceExistsPayload.json
  doc/notification_samples/instance-exists.json
  nova/compute/manager.py
  nova/compute/utils.py
  nova/notifications/objects/instance.py
  nova/tests/functional/notification_sample_tests/test_instance.py
  nova/tests/json_ref.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/compute/test_compute_utils.py
  nova/tests/unit/notifications/objects/test_notification.py
  nova/tests/unit/test_json_ref.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

api-ref: mention that you can't re-parent a resource provider
  placement-api-ref/source/parameters.yaml
Due: none

Ensure resource class cache when listing usages
  nova/api/openstack/placement/objects/resource_provider.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Fix doc nit
  doc/source/admin/configuration/schedulers.rst
Due: none

add mtu to libvirt xml for ethernet and bridge types
  nova/tests/unit/virt/libvirt/test_config.py
  nova/tests/unit/virt/libvirt/test_designer.py
  nova/tests/unit/virt/libvirt/test_vif.py
  nova/virt/libvirt/config.py
  nova/virt/libvirt/designer.py
  nova/virt/libvirt/vif.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Remove support for /os-virtual-interfaces REST API
  api-ref/source/index.rst
  api-ref/source/os-virtual-interfaces.inc
  nova/api/openstack/compute/virtual_interfaces.py
  nova/policies/__init__.py
  nova/policies/virtual_interfaces.py
  nova/tests/functional/api_sample_tests/api_samples/os-virtual-interfaces/v2.12/vifs-list-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-virtual-interfaces/vifs-list-resp-v2.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-virtual-interfaces/vifs-list-resp.json.tpl
  nova/tests/functional/api_sample_tests/test_virtual_interfaces.py
  nova/tests/unit/api/openstack/compute/test_virtual_interfaces.py
  nova/tests/unit/fake_policy.py
  nova/tests/unit/test_policy.py
  releasenotes/notes/bp-remove-nova-network-api-removals-931ad60364f6f2a8.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

sync_guest_time: use the proper errno
  nova/tests/unit/virt/libvirt/fakelibvirt.py
  nova/virt/libvirt/guest.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Do not use nova.test in placement.test_util
  nova/tests/unit/api/openstack/placement/test_util.py
Due: nova-tox-functional, nova-tox-functional-py35

Do not use nova.test in placement.test_requestlog
  nova/tests/unit/api/openstack/placement/test_requestlog.py
Due: nova-tox-functional, nova-tox-functional-py35

Do not use nova.test in placement.test_handler
  nova/tests/unit/api/openstack/placement/test_handler.py
Due: nova-tox-functional, nova-tox-functional-py35

Do not use nova.test in placement.test_deploy
  nova/tests/unit/api/openstack/placement/test_deploy.py
Due: nova-tox-functional, nova-tox-functional-py35

Do not use nova.test in placement.test_microversion
  nova/tests/unit/api/openstack/placement/test_microversion.py
Due: nova-tox-functional, nova-tox-functional-py35

Do not use nova.test in placement.test_fault_wrap
  nova/tests/unit/api/openstack/placement/test_fault_wrap.py
Due: nova-tox-functional, nova-tox-functional-py35

Do not use nova.test in placement.handlers.test_aggregate
  nova/tests/unit/api/openstack/placement/handlers/test_aggregate.py
Due: nova-tox-functional, nova-tox-functional-py35

Change consecutive build failure limit to a weigher
  doc/source/admin/configuration/schedulers.rst
  nova/compute/manager.py
  nova/compute/resource_tracker.py
  nova/compute/stats.py
  nova/conf/compute.py
  nova/conf/scheduler.py
  nova/scheduler/host_manager.py
  nova/scheduler/weights/compute.py
  nova/test.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/compute/test_resource_tracker.py
  nova/tests/unit/compute/test_stats.py
  nova/tests/unit/scheduler/test_caching_scheduler.py
  nova/tests/unit/scheduler/weights/test_weights_compute.py
  releasenotes/notes/change-consecutive-boot-failure-counter-to-weigher-428de7da0ed2033a.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Fix issues in nova-show-usage-statistics-for-hosts-instances.rst
  doc/source/admin/common/nova-show-usage-statistics-for-hosts-instances.rst
Due: none

Fix the file name of development-environment.rst
  doc/README.rst
Due: none

Fix bug to doc:nova-status
  doc/source/cli/nova-status.rst
Due: none

Fix interpretation of max_attempts for scheduling alternates
  nova/scheduler/filter_scheduler.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/scheduler/test_filter_scheduler.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration
