Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

.zuul.yaml:

- job:
    name: nova-dsvm-multinode-base
    parent: legacy-dsvm-base-multinode
    description: |
      Base job for multinode nova devstack/tempest jobs.
      Will setup firewall rules on all the nodes allowing them to talk to
      each other.
    timeout: 10800
    required-projects:
      - openstack-infra/devstack-gate
      - openstack/nova
      - openstack/tempest
    irrelevant-files:
      - ^(placement-)?api-.*$
      - ^(test-|)requirements.txt$
      - ^.*\.rst$
      - ^.git.*$
      - ^doc/.*$
      - ^nova/hacking/.*$
      - ^nova/locale/.*$
      - ^nova/tests/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
      - ^tests-py3.txt$
      - ^tools/.*$
      - ^tox.ini$
    nodeset: legacy-ubuntu-xenial-2-node

- job:
    name: nova-tox-functional
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project with Nova
      specific irrelevant-files list. Uses tox with the ``functional``
      environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional
    timeout: 3600

- job:
    name: nova-tox-functional-py35
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project
      under cPython version 3.5. with Nova specific irrelevant-files list.
      Uses tox with the ``functional-py35`` environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional-py35
    timeout: 3600

- job:
    name: nova-live-migration
    parent: nova-dsvm-multinode-base
    run: playbooks/legacy/nova-live-migration/run.yaml
    post-run: playbooks/legacy/nova-live-migration/post.yaml

- project:
    name: openstack/nova
    check:
      jobs:
        - nova-live-migration
        - nova-tox-functional
        - nova-tox-functional-py35
    gate:
      jobs:
        - nova-live-migration
        - nova-tox-functional
        - nova-tox-functional-py35

Make scheduler.utils.setup_instance_group query all cells
  nova/objects/instance_group.py
  nova/scheduler/utils.py
  nova/tests/functional/test_server_group.py
  nova/tests/unit/objects/test_instance_group.py
  nova/tests/unit/scheduler/test_scheduler_utils.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Add functional test for affinity with multiple cells
  nova/tests/functional/api/client.py
  nova/tests/functional/integrated_helpers.py
  nova/tests/functional/test_server_group.py
Due: nova-tox-functional, nova-tox-functional-py35

Remove redundant image GET call in _do_rebuild_instance
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Fix a failure to format config sample
  nova/conf/workarounds.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Remove noisy DEBUG log
  nova/notifications/objects/base.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

placement: use simple code paths when possible
  nova/api/openstack/placement/objects/resource_provider.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Configure placement DB context manager for nova-manage/status
  nova/cmd/manage.py
  nova/config.py
  nova/tests/unit/test_conf.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

fup: Fix import order and test nit
  nova/compute/resource_tracker.py
  nova/scheduler/client/report.py
  nova/tests/unit/scheduler/client/test_report.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

doc: update info for hypervisors
  doc/source/admin/arch.rst
  doc/source/admin/configuration/hypervisors.rst
  doc/source/user/support-matrix.rst
Due: none

Use six.string_types to improve python2/3 compatibility
  nova/tests/unit/db/test_db_api.py
  nova/utils.py
  nova/virt/xenapi/fake.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Do not dump all instances in the scheduler
  nova/scheduler/host_manager.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Fix formatting in changes-since guide
  api-guide/source/polling_changes-since_parameter.rst
Due: none

Add an example to add more pci devices in nova.conf
  nova/conf/pci.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Update docs for live_migration_progress_timeout option
  doc/source/admin/configuring-migrations.rst
  doc/source/admin/live-migration-usage.rst
  nova/conf/libvirt.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

fix a spelling error
  releasenotes/source/newton.rst
Due: none

import zuul job settings from project-config
  .zuul.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

add python 3.6 unit test job
  .zuul.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

switch documentation job to new PTI
  .zuul.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Cleanup zuul.yaml
  .zuul.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Fix resource tracker updates during instance evacuation
  nova/compute/resource_tracker.py
  nova/compute/task_states.py
  nova/tests/unit/compute/test_resource_tracker.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Follow devstack-plugin-ceph job rename
  .zuul.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

conf: Use new-style choice values
  nova/conf/api.py
  nova/conf/compute.py
  nova/conf/configdrive.py
  nova/conf/libvirt.py
  nova/conf/notifications.py
  nova/conf/quota.py
  nova/conf/servicegroup.py
  nova/conf/vnc.py
  nova/conf/xenserver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

[placement] split gigantor SQL query, add logging
  nova/api/openstack/placement/objects/resource_provider.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Fix evacuate logging
  nova/compute/manager.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Fix mock.patch usage in unit tests
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/pci/fakes.py
  nova/tests/unit/scheduler/client/test_report.py
  nova/tests/unit/volume/test_cinder.py
Due: nova-tox-functional, nova-tox-functional-py35

Update RequestSpec.flavor on resize_revert
  nova/compute/api.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/compute/test_compute_api.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Noop CantStartEngineError in targets_cell if API DB not configured
  nova/conductor/manager.py
  nova/tests/unit/conductor/test_conductor.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

cover migration cases with functional tests
  nova/tests/functional/test_servers.py
Due: nova-tox-functional, nova-tox-functional-py35

Fix docs and add functional test for AggregateMultiTenancyIsolation
  doc/source/admin/configuration/schedulers.rst
  nova/tests/functional/test_aggregates.py
Due: nova-tox-functional, nova-tox-functional-py35

Refix disk size during live migration with disk over-commit
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration
