Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

.zuul.yaml:

- job:
    name: nova-dsvm-multinode-base
    parent: legacy-dsvm-base-multinode
    description: |
      Base job for multinode nova devstack/tempest jobs.
      Will setup firewall rules on all the nodes allowing them to talk to
      each other.
    timeout: 10800
    required-projects:
      - openstack-infra/devstack-gate
      - openstack/nova
      - openstack/tempest
    irrelevant-files:
      - ^(placement-)?api-.*$
      - ^(test-|)requirements.txt$
      - ^.*\.rst$
      - ^.git.*$
      - ^doc/.*$
      - ^nova/hacking/.*$
      - ^nova/locale/.*$
      - ^nova/tests/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
      - ^tests-py3.txt$
      - ^tools/.*$
      - ^tox.ini$
    nodeset: legacy-ubuntu-xenial-2-node

- job:
    name: nova-tox-functional
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project with Nova
      specific irrelevant-files list. Uses tox with the ``functional``
      environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional
    timeout: 3600

- job:
    name: nova-tox-functional-py35
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project
      under cPython version 3.5. with Nova specific irrelevant-files list.
      Uses tox with the ``functional-py35`` environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional-py35
    timeout: 3600

- job:
    name: nova-live-migration
    parent: nova-dsvm-multinode-base
    run: playbooks/legacy/nova-live-migration/run.yaml
    post-run: playbooks/legacy/nova-live-migration/post.yaml

- project:
    name: openstack/nova
    check:
      jobs:
        - nova-live-migration
        - nova-tox-functional
        - nova-tox-functional-py35
    gate:
      jobs:
        - nova-live-migration
        - nova-tox-functional
        - nova-tox-functional-py35

Make scheduler client allow multiple member_of query parameters
  nova/scheduler/client/report.py
  nova/tests/unit/scheduler/client/test_report.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

XenAPI: Pass expected return codes to resize2fs
  nova/tests/unit/virt/xenapi/test_vm_utils.py
  nova/virt/xenapi/vm_utils.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

add lower-constraints job
  .zuul.yaml
  lower-constraints.txt
  tox.ini
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

__str__ methods for RequestGroup, ResourceRequest
  nova/api/openstack/placement/lib.py
  nova/scheduler/client/report.py
  nova/scheduler/utils.py
  nova/tests/unit/scheduler/test_utils.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

libvirt: Report the virtual size of RAW disks
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Added ability to configure default architecture for ImagePropertiesFilter
  nova/conf/scheduler.py
  nova/objects/fields.py
  nova/scheduler/filters/image_props_filter.py
  nova/tests/unit/scheduler/filters/test_image_props_filters.py
  nova/virt/arch.py
  releasenotes/notes/fix-multiarch-image-props-filter-f2e885aa53d585ea.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Remove mox in libvirt/test_driver.py (1)
  nova/tests/unit/virt/libvirt/test_driver.py
Due: nova-tox-functional, nova-tox-functional-py35

Remove mox in test_live_migrate.py
  nova/tests/unit/conductor/tasks/test_live_migrate.py
Due: nova-tox-functional, nova-tox-functional-py35

Remove mox in tests/unit/api/*/test_volumes.py
  nova/tests/unit/api/openstack/compute/test_volumes.py
  nova/tests/unit/api/openstack/fakes.py
Due: nova-tox-functional, nova-tox-functional-py35

Remove mox in test_xenapi.py (3)
  nova/tests/unit/virt/xenapi/test_xenapi.py
Due: nova-tox-functional, nova-tox-functional-py35

Remove unnecessary 'to_primitive' call
  nova/tests/unit/compute/test_compute.py
Due: nova-tox-functional, nova-tox-functional-py35

placement: Fix HTTP error generation
  nova/api/openstack/placement/handlers/inventory.py
  nova/api/openstack/placement/handlers/trait.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Add INVENTORY_INUSE to DELETE /rp/{u}/inventories
  nova/api/openstack/placement/handlers/inventory.py
  nova/tests/functional/api/openstack/placement/gabbits/with-allocations.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Update auth_url in install docs
  doc/source/admin/configuration/hypervisor-hyper-v.rst
  doc/source/install/verify.rst
Due: none

Move image conversion to privsep.
  nova/privsep/qemu.py
  nova/privsep/utils.py
  nova/tests/unit/privsep/test_utils.py
  nova/tests/unit/test_utils.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/libvirt/test_imagebackend.py
  nova/tests/unit/virt/libvirt/test_utils.py
  nova/tests/unit/virt/test_images.py
  nova/utils.py
  nova/virt/images.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

We don't need utils.trycmd any more.
  nova/tests/unit/test_configdrive2.py
  nova/utils.py
  nova/virt/libvirt/imagebackend.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

[placement] default to accept of application/json when */*
  nova/api/openstack/placement/requestlog.py
  nova/tests/functional/api/openstack/placement/gabbits/basic-http.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Don't reschedule on RequestedVRamTooHigh errors
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Add retrying to requirements.txt
  requirements.txt
Due: nova-tox-functional, nova-tox-functional-py35

Deprecate running API services under eventlet
  nova/service.py
  releasenotes/notes/deprecate-api-eventlet-1a0279f1f2333082.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Cleanup ugly stub in TestLocalDeleteAllocations
  lower-constraints.txt
  nova/tests/functional/regressions/test_bug_1679750.py
  test-requirements.txt
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Debug logs for allocation_candidates filters
  nova/api/openstack/placement/objects/resource_provider.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Remove deprecated monkey_patch config options
  nova/api/openstack/wsgi_app.py
  nova/cmd/api.py
  nova/cmd/api_metadata.py
  nova/cmd/api_os_compute.py
  nova/cmd/cells.py
  nova/cmd/compute.py
  nova/cmd/conductor.py
  nova/cmd/network.py
  nova/cmd/scheduler.py
  nova/conf/base.py
  nova/conf/notifications.py
  nova/notifications/__init__.py
  nova/notifications/base.py
  nova/tests/unit/cmd/test_cmd_db_blocks.py
  nova/tests/unit/monkey_patch_example/__init__.py
  nova/tests/unit/monkey_patch_example/example_a.py
  nova/tests/unit/monkey_patch_example/example_b.py
  nova/tests/unit/test_notifications.py
  nova/tests/unit/test_utils.py
  nova/utils.py
  releasenotes/notes/remove-monkey-patch-conf-220ea611d4ff348e.yaml
  tools/xenserver/destroy_cached_images.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

PowerVM Driver: DiskAdapter parent class
  nova/tests/unit/virt/powervm/disk/fake_adapter.py
  nova/tests/unit/virt/powervm/disk/test_driver.py
  nova/tests/unit/virt/powervm/disk/test_ssp.py
  nova/virt/powervm/disk/driver.py
  nova/virt/powervm/disk/ssp.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Drop API compat handling for old compute error cases
  nova/api/openstack/compute/attach_interfaces.py
  nova/api/openstack/compute/migrate_server.py
  nova/api/openstack/compute/server_diagnostics.py
  nova/api/openstack/compute/servers.py
  nova/api/openstack/compute/volumes.py
  nova/conductor/manager.py
  nova/exception.py
  nova/tests/functional/notification_sample_tests/test_instance.py
  nova/tests/unit/api/openstack/compute/test_migrate_server.py
  nova/tests/unit/api/openstack/compute/test_serversV21.py
  nova/tests/unit/conductor/test_conductor.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Fix auth_url example in hypervisor-hyper-v.rst
  doc/source/admin/configuration/hypervisor-hyper-v.rst
Due: none

Make nova service-list use scatter-gather routine
  nova/compute/api.py
  nova/tests/unit/compute/test_host_api.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Deduplicate config/policy reference docs from main index
  doc/source/configuration/index.rst
  doc/source/index.rst
Due: none

Implement granular policy rules for placement
  .gitignore
  doc/source/conf.py
  doc/source/configuration/index.rst
  doc/source/configuration/placement-policy.rst
  doc/source/configuration/policy.rst
  doc/source/configuration/sample-placement-policy.rst
  doc/source/configuration/sample-policy.rst
  etc/nova/README-policy.yaml.txt
  etc/nova/placement-policy-generator.conf
  lower-constraints.txt
  nova/api/openstack/placement/auth.py
  nova/api/openstack/placement/context.py
  nova/api/openstack/placement/exception.py
  nova/api/openstack/placement/handler.py
  nova/api/openstack/placement/handlers/resource_provider.py
  nova/api/openstack/placement/policies/__init__.py
  nova/api/openstack/placement/policies/base.py
  nova/api/openstack/placement/policies/resource_provider.py
  nova/api/openstack/placement/policy.py
  nova/conf/placement.py
  nova/hacking/checks.py
  nova/test.py
  nova/tests/functional/api/openstack/placement/fixtures.py
  nova/tests/functional/api/openstack/placement/gabbits/resource-provider-policy.yaml
  nova/tests/functional/api/openstack/placement/gabbits/resource-provider.yaml
  nova/tests/unit/api/openstack/placement/test_context.py
  nova/tests/unit/api/openstack/placement/test_policy.py
  nova/tests/unit/policy_fixture.py
  nova/tests/unit/test_fixtures.py
  releasenotes/notes/bp-granular-placement-policy-65722fc6d7cb1359.yaml
  requirements.txt
  setup.cfg
  tox.ini
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Add granular policy rules for resource providers inventories
  nova/api/openstack/placement/handler.py
  nova/api/openstack/placement/handlers/inventory.py
  nova/api/openstack/placement/policies/__init__.py
  nova/api/openstack/placement/policies/inventory.py
  nova/tests/functional/api/openstack/placement/gabbits/inventory-policy.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Add granular policy rules for /resource_classes*
  nova/api/openstack/placement/handler.py
  nova/api/openstack/placement/handlers/resource_class.py
  nova/api/openstack/placement/policies/__init__.py
  nova/api/openstack/placement/policies/resource_class.py
  nova/tests/functional/api/openstack/placement/gabbits/resource-classes-policy.yaml
  nova/tests/functional/api/openstack/placement/gabbits/resource-classes.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

PowerVM snapshot cleanup
  nova/tests/unit/virt/powervm/test_image.py
  nova/virt/powervm/image.py
  nova/virt/powervm/tasks/storage.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Metadata-API fails to retrieve avz for instances created before Pike
  nova/cmd/manage.py
  nova/objects/instance.py
  nova/tests/functional/db/test_instance.py
  releasenotes/notes/migration-tool-to-populate-inst.avz-29fed2fe57a9764d.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Fakelibvirt migrateToURI3 should provide args according to libvirt doc
  nova/tests/unit/virt/libvirt/fakelibvirt.py
Due: nova-tox-functional, nova-tox-functional-py35
