Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

.zuul.yaml:

- job:
    name: nova-dsvm-multinode-base
    parent: legacy-dsvm-base-multinode
    description: |
      Base job for multinode nova devstack/tempest jobs.
      Will setup firewall rules on all the nodes allowing them to talk to
      each other.
    timeout: 10800
    required-projects:
      - openstack-infra/devstack-gate
      - openstack/nova
      - openstack/tempest
    irrelevant-files:
      - ^(placement-)?api-.*$
      - ^(test-|)requirements.txt$
      - ^.*\.rst$
      - ^.git.*$
      - ^doc/.*$
      - ^nova/hacking/.*$
      - ^nova/locale/.*$
      - ^nova/tests/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
      - ^tests-py3.txt$
      - ^tools/.*$
      - ^tox.ini$
    nodeset: legacy-ubuntu-xenial-2-node

- job:
    name: nova-tox-functional
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project with Nova
      specific irrelevant-files list. Uses tox with the ``functional``
      environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional
    timeout: 3600

- job:
    name: nova-tox-functional-py35
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project
      under cPython version 3.5. with Nova specific irrelevant-files list.
      Uses tox with the ``functional-py35`` environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional-py35
    timeout: 3600

- job:
    name: nova-live-migration
    parent: nova-dsvm-multinode-base
    run: playbooks/legacy/nova-live-migration/run.yaml
    post-run: playbooks/legacy/nova-live-migration/post.yaml

- project:
    name: openstack/nova
    check:
      jobs:
        - nova-live-migration
        - nova-tox-functional
        - nova-tox-functional-py35
    gate:
      jobs:
        - nova-live-migration
        - nova-tox-functional
        - nova-tox-functional-py35

Test alloc_cands with indirectly sharing RPs
  nova/tests/functional/api/openstack/placement/db/test_allocation_candidates.py
Due: nova-tox-functional, nova-tox-functional-py35

Add "delete_port_binding" network API method
  nova/exception.py
  nova/network/neutronv2/api.py
  nova/tests/unit/network/test_neutronv2.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Delete port bindings in setup_networks_on_host if teardown=True
  nova/network/neutronv2/api.py
  nova/tests/unit/network/test_neutronv2.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Add "bind_ports_to_host" neutron API method
  nova/network/base_api.py
  nova/network/neutronv2/api.py
  nova/tests/unit/network/test_neutronv2.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Add "activate_port_binding" neutron API method
  nova/exception.py
  nova/network/neutronv2/api.py
  nova/tests/unit/network/test_neutronv2.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Ensure resource class cache when listing usages
  nova/objects/resource_provider.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

[placement] Demonstrate bug in consumer generation handling
  nova/tests/functional/api/openstack/placement/gabbits/allocations-1.28.yaml
Due: nova-tox-functional, nova-tox-functional-py35

Add instance.unlock notification
  doc/notification_samples/instance-unlock.json
  nova/compute/api.py
  nova/notifications/objects/base.py
  nova/notifications/objects/instance.py
  nova/objects/fields.py
  nova/tests/functional/notification_sample_tests/test_instance.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/notifications/objects/test_notification.py
  releasenotes/notes/trigger-notifications-when-lock-unlock-instances-5c0bb9262c0b4f0b.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Use instance project/user when creating RequestSpec during resize reschedule
  nova/conductor/manager.py
  nova/tests/unit/conductor/test_conductor.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Make nova list and migration-list ignore down cells
  nova/compute/multi_cell_list.py
  nova/tests/unit/compute/test_instance_list.py
  releasenotes/notes/bug-1726301-list-across-down-cells-82726cac592e9728.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

libvirt: slow live-migration to ensure network is ready
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/test_virt_drivers.py
  nova/virt/libvirt/driver.py
  releasenotes/notes/bug-1414559-880d6b3c1ce3b95e.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

network: Rename '_get_phynet_info'
  nova/network/neutronv2/api.py
  nova/tests/unit/network/test_neutronv2.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

network: Rename 'create_pci_requests_for_sriov_ports'
  nova/compute/api.py
  nova/network/api.py
  nova/network/base_api.py
  nova/network/neutronv2/api.py
  nova/tests/fixtures.py
  nova/tests/unit/api/openstack/fakes.py
  nova/tests/unit/compute/test_compute_api.py
  nova/tests/unit/network/test_neutronv2.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

mock utils.execute() in qemu-img unit test
  nova/tests/unit/virt/test_images.py
Due: nova-tox-functional, nova-tox-functional-py35

Fix the duplicated config options of api_database and placement_database
  nova/conf/database.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Remove support for /os-fixed-ips REST API
  api-ref/source/index.rst
  api-ref/source/os-fixed-ips.inc
  nova/api/openstack/compute/fixed_ips.py
  nova/api/openstack/compute/schemas/fixed_ips.py
  nova/policies/__init__.py
  nova/policies/fixed_ips.py
  nova/tests/functional/api_sample_tests/api_samples/os-fixed-ips/fixedip-post-req.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-fixed-ips/fixedips-get-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-fixed-ips/v2.4/fixedip-post-req.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-fixed-ips/v2.4/fixedips-get-resp.json.tpl
  nova/tests/functional/api_sample_tests/test_fixed_ips.py
  nova/tests/unit/api/openstack/compute/test_fixed_ips.py
  nova/tests/unit/fake_policy.py
  nova/tests/unit/test_policy.py
  releasenotes/notes/bp-remove-nova-network-api-removals-931ad60364f6f2a8.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Fix API reference for os-floating-ips-bulk
  api-ref/source/os-floating-ips-bulk.inc
Due: none

Fix API reference for os-floating-ip-dns
  api-ref/source/os-floating-ip-dns.inc
Due: none

Update API reference for os-floating-ip-pools
  api-ref/source/os-floating-ip-pools.inc
Due: none

Fix CLI docs for nova-manage api_db commands
  doc/source/cli/nova-manage.rst
Due: none

libvirt: Drop MIN_LIBVIRT_VHOSTUSER_MQ
  nova/tests/unit/virt/libvirt/test_vif.py
  nova/virt/libvirt/vif.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Skip ServerShowV247Test.test_update_rebuild_list_server in nova-cells-v1 job
  devstack/tempest-dsvm-cells-rc
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

conf: libvirt: Make `/dev/urandom` the default for 'rng_dev_path'
  nova/conf/libvirt.py
  nova/tests/unit/virt/libvirt/test_config.py
  nova/tests/unit/virt/libvirt/test_driver.py
  releasenotes/notes/urandom-as-default-for-rng_dev_path-150a76b0ea74cbc2.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

[placement] Add test demonstrating bug 1778743
  nova/tests/functional/api/openstack/placement/gabbits/allocations-bug-1778743.yaml
Due: nova-tox-functional, nova-tox-functional-py35

Update scheduler to use image-traits
  nova/tests/fixtures.py
  nova/tests/functional/test_servers.py
Due: nova-tox-functional, nova-tox-functional-py35

Merge server create schema for BDM v2 extension
  nova/api/openstack/compute/block_device_mapping.py
  nova/api/openstack/compute/schemas/block_device_mapping.py
  nova/api/openstack/compute/schemas/servers.py
  nova/api/openstack/compute/servers.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

[placement] Fix capacity tracking in POST /allocations
  nova/api/openstack/placement/objects/resource_provider.py
  nova/tests/functional/api/openstack/placement/gabbits/allocations-bug-1778743.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Fix unit test modifying global state
  nova/tests/unit/conductor/test_conductor.py
Due: nova-tox-functional, nova-tox-functional-py35

Handle CannotDeleteParentResourceProvider to 409 Conflict
  nova/api/openstack/placement/handlers/resource_provider.py
  nova/tests/functional/api/openstack/placement/gabbits/resource-provider.yaml
  placement-api-ref/source/resource_provider.inc
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

[placement] demonstrate part of bug 1778591 with a gabbi test
  nova/tests/functional/api/openstack/placement/gabbits/allocations-bug-1778591.yaml
Due: nova-tox-functional, nova-tox-functional-py35

Merge server create schema for config drive extension
  nova/api/openstack/compute/config_drive.py
  nova/api/openstack/compute/schemas/config_drive.py
  nova/api/openstack/compute/schemas/servers.py
  nova/api/openstack/compute/servers.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Merge server create schema for keypair extension
  nova/api/openstack/compute/keypairs.py
  nova/api/openstack/compute/schemas/keypairs.py
  nova/api/openstack/compute/schemas/servers.py
  nova/api/openstack/compute/servers.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Merge server create schema for multiple create extension
  nova/api/openstack/compute/multiple_create.py
  nova/api/openstack/compute/schemas/multiple_create.py
  nova/api/openstack/compute/schemas/servers.py
  nova/api/openstack/compute/servers.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Merge server create schema for scheduler hint extension
  nova/api/openstack/compute/scheduler_hints.py
  nova/api/openstack/compute/schemas/scheduler_hints.py
  nova/api/openstack/compute/schemas/servers.py
  nova/api/openstack/compute/servers.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Remove compatibility code for instance groups
  nova/cmd/manage.py
  nova/objects/instance_group.py
  nova/tests/functional/db/test_instance_group.py
  nova/tests/functional/db/test_instance_group_model.py
  nova/tests/unit/api/openstack/compute/test_server_group_quotas.py
  nova/tests/unit/api/openstack/compute/test_server_groups.py
  nova/tests/unit/objects/test_instance_group.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Merge server create schema for security group extension
  nova/api/openstack/compute/schemas/security_groups.py
  nova/api/openstack/compute/schemas/servers.py
  nova/api/openstack/compute/security_groups.py
  nova/api/openstack/compute/servers.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration

Merge server create schema for user data extension
  nova/api/openstack/compute/schemas/servers.py
  nova/api/openstack/compute/schemas/user_data.py
  nova/api/openstack/compute/servers.py
  nova/api/openstack/compute/user_data.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration
